// Breakpoints
@mixin breakpoint($point) {

  @if $point == mobile-lg {
    @media (min-width: 23em) { @content; }
  }

  @else if $point == mobile-xl {
    @media (min-width: 33em) { @content; }
  }

  @else if $point == tablet-sm {
    @media (min-width: 45em) { @content; }
  }

  @else if $point == tablet-lg {
    @media (min-width: 57em) { @content; }
  }

  @else if $point == desktop-sm {
    @media (min-width: 67em) { @content; }
  }

  @else if $point == desktop-lg {
    @media (min-width: 92em) { @content; }
  }

  @else if $point == desktop-xl {
    @media (min-width: 100em) { @content; }
  }

  @else if $point == low {
    @media (max-height: 40em) { @content; }
  }

  @else {
    @media (min-width: $point) { @content; }
  }
}
