---
layout: default
mode: dark
top-title: Reading
top-bg: "#1f1f1f"
top-subtitle: "Books are where I go for inspiration. This is my treasure trove."
hasHeader: true
---

<article>
  <div class="wrap -two-col">

  	<header class="page-header -left-align -one-col">
  	  <h1 class="title">{{ page.title }}</h1>
  	  <p class="meta">
        {% if page.flag == 'current' %}
          Currently reading
        {% else %}
        {{ page.date | date: '%B' }}
        {% assign d = page.date | date: "%-d" %} 
        {% case d %}
          {% when '1' or '21' or '31' %}{{ d }}st,
          {% when '2' or '22' %}{{ d }}nd,
          {% when '3' or '23' %}{{ d }}rd,
          {% else %}{{ d }}th,
          {% endcase %}
          {{ page.date | date: '%Y' }}
        {% endif %}
       — <span>by</span> {{ page.author }}</p>
  	</header>

    {% if page.has-own-cover %}
      {{ content }}
      </div>
    {% else %}
      {% include book-cover.html %}
      {{ content }}
      </div>
    {% endif %}

	</div>

  {% assign url = "/reading" %}
  {% include case-nav.html %}

</article>