---
layout: default
---

<article>
  <div class="wrap -two-col">

  	<header class="page-header -left-align -one-col">
  	  <h1 class="title">{{ page.title }}</h1>
  	  <p class="meta">
        {% if page.flag == 'current' %}
          Currently reading
        {% else %}
        {{ page.date | date: '%B' }}
        {% assign d = page.date | date: "%-d" %} 
        {% case d %}
          {% when '1' or '21' or '31' %}{{ d }}st,
          {% when '2' or '22' %}{{ d }}nd,
          {% when '3' or '23' %}{{ d }}rd,
          {% else %}{{ d }}th,
          {% endcase %}
          {{ page.date | date: '%Y' }}
        {% endif %}
       — <span>by</span> {{ page.author }}</p>
  	</header>
  		
    <div class="side-panel -book">
  		<aside>
  			<a href="{{ page.book-url }}" class="img-holder">
          <img
            src="/assets/images/dist/{{page.cover}}-200.jpg"
            sizes="
            (min-width: 57em) 280px, 
            (min-width: 34em) 160px, 120px"
            srcset="
            /assets/images/dist/{{page.cover}}-200.jpg 200w,
            /assets/images/dist/{{page.cover}}-400.jpg 400w"
            alt="{{page.title}}"
          >
  			</a>
  			<ul class="meta">
          <li><strong>Publisher:</strong> {{ page.publisher }}</li>
  			  <li><strong>Buy:</strong> <a href="{{ page.book-url }}">Amazon</a></li>
        </ul>
  		</aside>
  	</div>

  	<div class="main-content book-entry">
  		{{ content }}
  	</div>

	</div>

  {% assign url = "/reading" %}
  {% include case-nav.html %}

</article>