<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if page.description %}
      <meta name="description" content="{{ page.description }}" />
    {% endif %}

    {% if page.cover %}
      <meta property="og:image" content="{{ site.url }}/assets/images/dist/{{page.cover}}-400.jpg" />
    {% endif %}

    {% if page.active == "index" %}
      <title>{{ site.author }} - {{ page.title }}</title>
    {% else %}
      <title>{{ page.title }} - {{ site.name }}</title>
    {% endif %}

    <link href="/assets/css/main.min.css" rel="stylesheet">

    <script>
      document.createElement( "picture" );
    </script>

    <script src="/assets/js/app.min.js" async></script>

    <!--[if lt IE 9]>
      <script src="/assets/js/vendor/html5shiv/dist/html5shiv.min.js"></script>
      <script src="/assets/js/vendor/respond/dest/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="{% if page.mode %} {{page.mode}} {% endif %}" id="body">

    <div class="visuallyhidden">
      <a href="#main-content">Skip to content</a>
    </div>

    {% include header.html %}
    <main id="main-content" class="{{page.class}} main-section">
      {{ content }}
    </main>
    {% include footer.html %}

    {% include analytics.html %}
  </body>
</html>