---
layout: default
---

<article>

  {% assign title = page.title %}
  {% assign width = "-small" %}

  {% assign d = page.date | date: "%-d" %} 
  {% case d %}
    {% when '1' or '21' or '31' %}
      {% capture day %}{{ d }}st, {% endcapture %}
    {% when '2' or '22' %}
      {% capture day %}{{ d }}nd, {% endcapture %}
    {% when '3' or '23' %}
      {% capture day %}{{ d }}rd, {% endcapture %}
    {% else %}
      {% capture day %}{{ d }}th, {% endcapture %}
  {% endcase %}
  {% capture full %}
    {{ page.date | date: '%B' }} {{ day }} {{ page.date | date: '%Y' }} 
  {% endcapture %}

  {% assign subtitle = full %}

  {% include page-header.html %}

  <div class="container wrap -small entry-content">

    <a href="/assets/images/dist/{{ page.photo }}-2000.jpg">
      <img 
        sizes="
        ({{site.desktop-xl}}) 850px,
        ({{site.tablet-lg}}) 820px,
        ({{site.tablet-sm}}) 660px,
        100%" 
        srcset="
        /assets/images/dist/{{ page.photo }}-400.jpg 400w,
        /assets/images/dist/{{ page.photo }}-600.jpg 600w,
        /assets/images/dist/{{ page.photo }}-800.jpg 800w,
        /assets/images/dist/{{ page.photo }}-1000.jpg 1000w,
        /assets/images/dist/{{ page.photo }}-1400.jpg 1400w"
        src="/assets/images/dist/{{ page.photo }}-600.jpg"
        alt="{{ page.title }}"
      >
    </a>
    {{ content }}

  </div>

  {% include bio-card.html %}

  {% assign url = "/photos" %}
  {% include case-nav.html %}

</article>