---
layout: default
mode: dark
top-bg: "#fafafa"
mode: light
---

<article class="container">

  {% assign title = page.title %}
  {% assign width = "-small" %}

  {% assign d = page.date | date: "%-d" %}
  {% case d %}
    {% when '1' or '21' or '31' %}
      {% capture day %}{{ d }}st, {% endcapture %}
    {% when '2' or '22' %}
      {% capture day %}{{ d }}nd, {% endcapture %}
    {% when '3' or '23' %}
      {% capture day %}{{ d }}rd, {% endcapture %}
    {% else %}
      {% capture day %}{{ d }}th, {% endcapture %}
  {% endcase %}
  {% capture full %}
    {{ page.date | date: '%B' }} {{ day }} {{ page.date | date: '%Y' }}
  {% endcapture %}

  {% assign subtitle = full %}

  {% include page-header.html %}

  <div class="wrap container -small">
    {{ content }}
  </div>

  {% include bio-card.html %}

</article>

{% include case-nav-writing.html %}
