---
layout: default
title: Reading
active: reading
class: 'dark'
description: "Books are where I go for inspiration. This is my treasure trove where I collect the highlights from the books."
mode: dark
---

<section>
  {% assign attribute = "-without-border -left-align" %}
  {% assign title = "Reading" %}
  {% assign subtitle = "Books are where I go for inspiration. This is my treasure trove." %}
  {% include page-header.html %}

  <div class="container wrap book-holder">
    {% for post in site.categories.reading %}
      
      {% capture currentyear %}{{post.date | date: "%B"}}{% endcapture %}
      {% if currentyear != year %}
        <h2 class="divider -left"><span>{{ post.date | date: '%B, %Y' }}</span></h2>
      {% capture year %}{{currentyear}}{% endcapture %} 
      {% endif %}

      {% assign attribute = '-dark' %}
      {% include book-item.html %}
    {% endfor %}
  </div>
</section>