---
layout: default
title: Writing
active: journal
description: "Writing by Johannes Holmberg."
---

<section class="main-section">

  <header class="page-header">
    <div class="wrap -small">
      <h1 class="title">Writing</h1>
      <p class="meta">Collection of thoughts and reflection over the years.</p>
    </div>
  </header>

  <div class="container">
    <div class="wrap -small">
      <ul class="article-list">
        {% for post in site.posts %}
          {% if post.category == "article" %}
            
            <li>
              <a href="{{ post.url }}" class="article-item">
                <h2 class="title">{{ post.title }}</h2>
                <p class="date">{{ post.date | date: '%b %Y' }}</p>
              </a>
            </li>
            
            {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>

</section>