.c-book-list {
  padding: 0 5.5vw;
  margin-bottom: 4em;
}

.c-book-list__title {
  @extend %clearfix;
  width: 100%;
  color: $base-text-color;
  margin: 2em .2em .8em 0;
  position: relative;

  @include supports(grid) {
    grid-column: 1 / -1;
  }

  &:after {
    content: '';
    height: 1px;
    background: rgba(100, 100, 100, .25);
    display: block;
    width: 100%;
    position: absolute;
    top: 52%;
  }

  &:first-of-type {
    margin-top: 0;
  }

  span {
    background: $light-brand-color;
    position: relative;
    z-index: 99;
    padding: 0 .4em 0 0;
  }
}

.c-book-list__section {
  display: flex;
  flex-flow: row wrap;

  @include supports(grid) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15.5em, 1fr));
  }
}
