.c-case-item {
  display: block;
  position: relative;
  margin: 5em 0 22em;
  margin: 8vh 0 12vh;

  @include breakpoint(mobile-xl) {
    margin: 10vh 0 24vh;
  }

  &:nth-child(even) {
    margin-left: 4em;

    .c-case-item__text {
      left: -4em;
      right: auto;
    }
  }

  &:nth-child(odd) {
    margin-right: 4em;
  }

  &:hover,
  &:focus {
    .c-case-item__text {
      transform: scale(1.1);
      box-shadow: 0 30px 40px rgba(0, 0, 0, .1);
    }

    .c-case-item__image {
      transform: scale(.99);
    }
  }

  &__image {
    transition: all .5s ease-out;
    box-shadow: 0 20px 80px rgba(0, 0, 0, .15);
  }

  &__text {
    transition: all .5s ease-out;
    background-color: #fff;
    background-color: rgba(255, 255, 255, .8);

    box-shadow: 0 20px 40px rgba(0, 0, 0, .1);
    color: $base-text-color;
    padding: 1.6em 2em;

    @include breakpoint(tablet-sm) {
      position: absolute;
      top: -14%;
      right: -4em;
    }
  }

  &__title {
    margin: .1em 0;

    @include breakpoint(tablet-sm) {
      font-size: 2em;
    }
  }

  &__slogan {
    margin: 0;
    font-size: 1em;
    font-family: $font-serif-italic;
    font-style: italic;
    color: #666;
  }
}
