.c-book-cover {
  width: 100%;
  float: right;
  margin: -2.5em 0 1em 0;
  padding: 0;

  @include breakpoint(mobile-xl) {
    width: 40%;
    margin-top: -5.5em;
    padding: 0 5% !important;
  }
}

.c-book-cover__meta {
  font-size: 1em;
  margin-left: 0;

  a {
    text-shadow: .05em 0 #fff, -.05em 0 #fff;
  }
}

.c-book-cover__image-holder {
  border-bottom: .5em solid $gray-opacity1;
  display: table;
  background: none;
  min-height: 5.5em;

  a {
    display: block;
  }
}

.c-book-cover__image {
  float: left;
  max-width: 80%;
  margin-left: 6vw;
  max-height: 12em;
  box-shadow: 0 20px 20px rgba(0, 0, 0, .1);

  @include breakpoint(mobile-xl) {
    max-height: none;
    float: right;
    max-width: 60%;
    max-height: none;
    margin-right: 8%;
  }
}
