figure {
  margin: 1.5em auto;
}

.figure {

  &--center {
    text-align: center;
  }

  &--portrait {
    img {
      max-height: 40em;
    }
  }

  &--shadows {
    img {
      box-shadow: 0 15px 60px rgba(0, 0, 0, .15);
    }
  }
}

figcaption {
  color: $gray2;
  margin: 1.5em 0;
  font-family: $font-serif-italic;
  font-style: italic;
}
