figure {
  margin: 1.5em auto;
}

.figure {
  &--center {
    text-align: center;
  }

  &--portrait {
    img {
      max-height: 40em;
    }
  }
}

figcaption {
  color: $gray2;
  margin: 1.5em 0;
  font-family: $font-serif-italic;
  font-style: italic;
}
