# Compiled source #
###################
_site
source/assets/css/main.min.css
source/uploads/dist

# Packages #
############
node_modules
source/assets/vendor/**/*

# Logs #
########
**/*.jekyll-metadata
**/*.DS_Store
Gemfile.lock
