---
layout: none
title: "Style Guide"
description: "Johannes Holmberg is a Front-end Web Developer in Basel, Switzerland."
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    {% if page.description %}
      <meta name="description" content="{{page.description}}" />
    {% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if page.title == "Front-end Web Developer" %}
      <title>{{ site.name }} &middot; {{ page.title }}</title>
    {% else %}
      <title>{% if page.title %}{{ page.title }} &middot; {% endif %}{{ site.name }}</title>
    {% endif %}

    <script>
      function loadCSS(e,t,n){"use strict";var i=window.document.createElement("link");var o=t||window.document.getElementsByTagName("script")[0];i.rel="stylesheet";i.href=e;i.media="only x";o.parentNode.insertBefore(i,o);setTimeout(function(){i.media=n||"all"})}
      loadCSS( "{{siteurl}}/assets/css/fonts.css" );
    </script>

    <noscript><link href="{{siteurl}}/assets/css/fonts.css" rel="stylesheet"></noscript>
    <link href="{{siteurl}}/assets/css/main.min.css" rel="stylesheet">

    <link href="/assets/js/vendor/x-rayhtml/dist/X-rayHTML.css" rel="stylesheet">
    <link href="/assets/js/vendor/prism/themes/prism.css" rel="stylesheet">


    <script>
      document.createElement( "picture" );
    </script>

    <!-- <script src="{{siteurl}}/assets/js/vendor.min.js" async></script> -->
  </head>

  <body class="sg" id="body">


    <main class="{{page.active}}">

      <div class="main-section">
        
        <div class="wrap -small">
          <h1>Styleguide</h1>

          <p>This document is a guide to the mark-up styles used throughout the site. Parts of this markup guide are attributable to Dave Shea, and licensed under a Creative Commons License.</p>

          <h2>Colors</h2>
          <p>The design system for this website is using <code>.container</code> and <code>.wrap</code> to keep content in restrained in containers. These wraps have a couple of alternatives for how wide the wrap is going to render.</p>

          <div class="example prism"><header class="page-header">
            <ul class="colors">
              <li>
                <div style="background: #326891;"></div>
                <strong>Blue</strong> 
                <em>#326891</em>
              </li>
              <li>
                <div style="background: #f4f4f4;"></div>
                <strong>Whitesmoke</strong> 
                <em>#f4f4f4</em>
              </li>
              <li>
                <div style="background: #eee;"></div>
                <strong>Snow</strong> 
                <em>#eee</em>
              </li>
              <li>
                <div style="background: #ddd;"></div>
                <strong>Gray</strong> 
                <em>#ddd</em>
              </li>
              <li>
                <div style="background: #888;"></div>
                <strong>lightdarkgray</strong>
                <em>#888</em>
              </li>
              <li>
                <div style="background: #444;"></div>
                <strong>Midgray</strong>
                <em>#444</em>
              </li>
              <li>
                <div style="background: #313131;"></div>
                <strong>Dark gray</strong>
                <em>#313131</em>
              </li>
            </ul>
          </div>


          <h2>Layouts</h2>

          <p>The design system for this website is using <code>.container</code> and <code>.wrap</code> to keep content in restrained in containers. These wraps have a couple of alternatives for how wide the wrap is going to render.</p>
    

<!--         <div class="wrap -small -sg example">
          <p>A narrow wrap</p>
        </div>

        <div class="wrap -sg example">
          <p>A regular wrap without modifier parameters</p>
        </div>

        <div class="wrap -large -sg example">
          <p>A large wrap, you need a wide screen to see the end of this.</p>
        </div> -->


          <h2>Pattern Library</h2>
          <p>The main page header of this guide is an <code>h1</code> element. Any header elements may include links, as depicted in the example.</p>

          <h3>Page header</h3>
          <p>This is a page header</p>

<div data-xrayhtml class="example prism"><header class="page-header">
  <div class="wrap -small">
    <h1 class="title">Reading</h1>
    <p class="meta">Books are where I go for inspiration. This is my treasure trove.</p>
  </div>
</header></div>


          <h3>Article item</h3>
          <p>The secondary header above is an <code>h2</code> element, which may be used for any form of important page-level header. More than one may be used per page.</p>

<div data-xrayhtml class="example prism"><a href="/journal/turning-off" class="article-item">
  <p class="date">May 2015</p> 
  <h2 class="title">Turning off</h2>
</a>
<a href="/journal/turning-off" class="article-item">
  <p class="date">May 2015</p> 
  <h2 class="title">Turning off</h2>
</a>
</div>


          <h3>Book item</h3>
          <p>The secondary header above is an <code>h2</code> element, which may be used for any form of important page-level header. More than one may be used per page.</p>

<div data-xrayhtml class="example prism"><a href="{{ post.url }}" class="book-item">
  <div class="cover">
    <div class="container">
  <img 
    src="/assets/images/spacer.png"
    sizes="190px"
    srcset="
    /assets/images/dist/farmer-in-the-sky-140.jpg 140w,
    /assets/images/dist/farmer-in-the-sky-240.jpg 240w,
    /assets/images/dist/farmer-in-the-sky-240.jpg 400w"
    alt="{{post.title}}"
  >
    </div>
  </div>
  <h3 class="title">Farmer in the Sky</h3>
  <p class="meta">Robert A. Heinlein</p>
</a>
<a href="{{ post.url }}" class="book-item">

  <div class="cover">
    <div class="container">
  <img 
    src="/assets/images/spacer.png"
    sizes="190px"
    srcset="
    /assets/images/dist/farmer-in-the-sky-140.jpg 140w,
    /assets/images/dist/farmer-in-the-sky-240.jpg 240w,
    /assets/images/dist/farmer-in-the-sky-240.jpg 400w"
    alt="{{post.title}}"
  >
    </div>
  </div>
  <h3 class="title">Farmer in the Sky</h3>
  <p class="meta">Robert A. Heinlein</p>
</a></div>

        </div>

      </div>

    </main>


    {% include analytics.html %}


    <script src="/assets/js/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/assets/js/vendor/x-rayhtml/dist/X-rayHTML.js"></script>

    <script src="/assets/js/vendor/prism/prism.js"></script>

    <script type="text/javascript">
      $( window ).bind( "create.xrayhtml", function( e ) {
        var prism = !!~e.target.getAttribute( "class" ).indexOf( "prism" );

        if( prism && "Prism" in window ) {
          $( ".prism" ).find( "code" ).addClass( "language-markup" );
          Prism.highlightAll();
        }
      });

    </script>

  </body>
</html>