---
layout: default
title: The Notebook of
active: notebook
description: "Collection of thoughts, ideas and links over the years."
redirect_from:
  - /journal/
  - /writing/
  - /links/
body_class: light
top-title: Notebook
top-bg: "#fafafa"
top-subtitle: "Collection of thoughts over the years."
hasHeader: true
---

<div class="wrap">

  {% for post in site.categories.notebook %}

    {% capture currentyear %}{{post.date | date: "%Y"}}{% endcapture %}
    {% if currentyear != year %}
      {% unless forloop.first %}</ul></div>{% endunless %}
      <div class="year">
      <h2 class="article-divider">{{ currentyear }}</h2>
      <ul class="article-list">
      {% capture year %}{{currentyear}}{% endcapture %}
    {% endif %}
      <li class="article-item">
        <a href="{{ post.url }}">
          <h2 class="title">{{ post.title }}</h2>
          <p class="date">
            {% if post.categories contains "links" %} <strong>Link</strong> {% endif %}
            {{ post.date | date: '%b' }} {{ post.date | date: '%Y' }}
          </p>
        </a>
      </li>

  {% endfor %}

</div>
