---
layout: page
title: The Notebook of
active: notebook
description: "Collection of thoughts, ideas and links over the years."
sitemap_include: true
redirect_from:
  - /journal/
  - /writing/
  - /links/
  - /photos/
---

<h1 class="page-title">Notebook</h1>

<div class="c-article-list">
  {% for post in site.categories.notebook %}
    {% capture currentyear %}{{post.date | date: "%Y"}}{% endcapture %}
    {% if currentyear != year %}
      {% if forloop.index != 1 %}
        </ul></div>
      {% endif %}
      <div class="c-article-list__section">
      <h2 class="c-article-list__title">{{ currentyear }}</h2>
      <ul class="c-article-list__holder">
      {% capture year %}{{currentyear}}{% endcapture %}
    {% endif %}

    {% include article-item.html %}

    {% if forloop.last == true %}
      </ul></div>
    {% endif %}
  {% endfor %}
</div>
