---
layout: default
title: Work
active: work
description: "Work and projects by Johannes Holmberg."
---

{% assign title = "Work" %}
{% assign width = "-small" %}
{% assign subtitle = "My bread and butter. This is what I do." %}
{% include page-header.html %}

<div class="container wrap">
  {% for post in site.categories.work %}

    <div class="case-item">
      <a href="{{ post.url }}">
        <img 
          src="/assets/images/dist/{{post.cover}}-case-610.jpg"
          sizes="
          ({{site.tablet-sm}}) 38vw,
          ({{site.mobile-lg}}) 70vw,
          90vw"
          srcset="
          /assets/images/dist/{{post.cover}}-case-320.jpg 320w,
          /assets/images/dist/{{post.cover}}-case-500.jpg 500w,
          /assets/images/dist/{{post.cover}}-case-610.jpg 610w,            
          /assets/images/dist/{{post.cover}}-case-700.jpg 700w,
          /assets/images/dist/{{post.cover}}-case-1000.jpg 1000w,
          /assets/images/dist/{{post.cover}}-case-1220.jpg 1220w"
          alt="{{post.title}}"
        >
        <h2 class="title">{{post.title}}</h2>
        <p class="meta">
          <span>{{post.responsibilities}}</span>
        </p>
      </a>
    </div>

  {% endfor %}
</div>