  <div class="bio-card">
    <div class="wrap">
      <img 
        src="{{siteurl}}/assets/images/spacer.png"
        sizes="
        ({{site.tablet-lg}}) 130px,
        ({{site.mobile-lg}}) 115px,
        90px" 
        srcset="
        /assets/images/dist/johannes-square-90.jpg 90w,
        /assets/images/dist/johannes-square-130.jpg 130w,
        /assets/images/dist/johannes-square-260.jpg 260w"
        alt="Johannes Holmberg"
      >
      <p>
        Hi, I’m Johannes — Freelance front-end web developer based in Basel, Switzerland. 
        <strong>Have a project and think I could help out with it?</strong> Let’s get in touch. 
        Drop me a line at <span class="link">johannes@holmberg.io</span> and I’ll get back to you as soon as possible.
      </p>
    </div>
  </div>