{% assign cover = post.url | replace: '/reading/', '' | replace: '/', '' | replace: '-read-2', '' %}
<a href="{{ post.url }}" class="book-item {{ attribute }}">
  <div class="cover">
    <div class="container">
      <img
        src="/uploads/dist/{{ cover }}-140.jpg"
        sizes="190px"
        srcset="
        /uploads/dist/{{ cover }}-140.jpg 140w,
        /uploads/dist/{{ cover }}-240.jpg 240w"
        alt="{{post.title}}"
      >
    </div>
  </div>
  <h3 class="title">{{ post.title }}</h3>
  <p class="meta">{{ post.author }}</p>
  <div class="date">
    {{ post.date | date: '%B' }}
    {% assign d = post.date | date: "%-d" %}
    {% case d %}
      {% when '1' or '21' or '31' %}{{ d }}st
      {% when '2' or '22' %}{{ d }}nd
      {% when '3' or '23' %}{{ d }}rd
      {% else %}{{ d }}th
      {% endcase %}
  </div>
</a>
