---
layout: default
body_class: post book
active: book
---

<article class="has-intro">

  <header class="page-header">
    <h1 class="title">{{ page.title }}</h1>
    <p class="meta">
      {% assign thedate = page.date %}
      {% include nice-date.html %} — <span>by</span> {{ page.author }}
    </p>
  </header>

  <div class="main-content">
    {% if page.has_cover == "" or page.has_cover == nil %}
      {% include book-cover.html %}
    {% endif %}

    {{ content }}
  </div>

  <aside class="sidebar">
    {% include bio-card.html %}
    {% assign cat = "reading" %}
    {% include case-nav.html %}
  </aside>

</article>
