---
layout: default
active: case
---

<article class="o-main-layout">

	{% assign title = page.title %}
	{% assign meta = page.subtitle %}
	{% include page-header.html %}

	<div class="s-main-content s-main-content--intro">
		{% assign filename = page.cover %}
		{% assign alt = page.title %}
		{% include responsive-image.html %}

		{{ content }}
	</div>

  <aside class="o-sidebar">
		{% include author-card.html %}

		<aside>
			<ul class="o-sidebar__meta">
				{% if page.meta %}
					<li class="o-sidebar__meta-item"><strong>Production:</strong> {{ page.meta }}</li>
				{% endif %}

				{% if page.role %}
        	<li class="o-sidebar__meta-item"><strong>Role:</strong> {{ page.role }}</li>
        {% endif %}

				{% if page.output %}
        	<li class="o-sidebar__meta-item"><strong>Output:</strong> {{ page.output }}</li>
        {% endif %}

        {% if page.techniques %}
        	<li class="o-sidebar__meta-item"><strong>Techniques:</strong> {{ page.techniques }}</li>
        {% endif %}

        {% if page.client %}
			  	<li class="o-sidebar__meta-item"><strong>Client:</strong> {{ page.client }}</li>
			  {% endif %}

			  {% if page.website %}
			  	<li class="o-sidebar__meta-item">
			  		<strong>Website:</strong>
			  		<a href="{{ page.website }}">{{ page.website | replace: 'http://', '' }}</a>
			  	</li>
			  {% endif %}
      </ul>
		</aside>

		{% assign cat = "work" %}
		{% include post-navigation.html %}
	</aside>

</article>
