---
layout: default
body_class: post
active: case
---

<article class="has-intro">
	{% assign title = page.title %}
	{% assign subtitle = page.subtitle %}
	{% include page-header.html %}

	<div class="main-content">
		{% assign filename = page.cover %}
		{% assign alt = page.title %}
		{% include responsive-image.html %}

		{{ content }}
	</div>

  <aside class="sidebar">
		{% include bio-card.html %}

		<aside>
			<ul class="meta">
				{% if page.meta %}
					<li><strong>Production:</strong> {{ page.meta }}</li>
				{% endif %}

				{% if page.role %}
        	<li><strong>Role:</strong> {{ page.role }}</li>
        {% endif %}

				{% if page.output %}
        	<li><strong>Output:</strong> {{ page.output }}</li>
        {% endif %}

        {% if page.techniques %}
        	<li><strong>Techniques:</strong> {{ page.techniques }}</li>
        {% endif %}

        {% if page.client %}
			  	<li><strong>Client:</strong> {{ page.client }}</li>
			  {% endif %}

			  {% if page.website %}
			  	<li>
			  		<strong>Website:</strong>
			  		<a href="{{ page.website }}">{{ page.website | replace: 'http://', '' }}</a>
			  	</li>
			  {% endif %}
      </ul>
		</aside>

		{% assign cat = "work" %}
		{% include case-nav.html %}
	</aside>

</article>
