<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body class="{% if page.body_class %}{{page.body_class}}{% endif %}{% if layout.body_class %}{{layout.body_class}}{% endif %}">

    <div style="height: 0; width: 0; position: absolute; visibility: hidden">
      {% include icons.svg %}
      <a href="#main-content">Skip to content</a>
    </div>

    {% include header.html %}
    <main>{{ content }}</main>
    {% include footer.html %}


    {% include analytics.html %}
  </body>
</html>
