---
layout: default
top-bg: "#7D9161"
---

<article>
  {% assign title = page.title %}
  {% assign width = "-small" %}
  {% assign d = page.date | date: "%-d" %} 
  {% case d %}
    {% when '1' or '21' or '31' %}
      {% capture day %}{{ d }}st, {% endcapture %}
    {% when '2' or '22' %}
      {% capture day %}{{ d }}nd, {% endcapture %}
    {% when '3' or '23' %}
      {% capture day %}{{ d }}rd, {% endcapture %}
    {% else %}
      {% capture day %}{{ d }}th, {% endcapture %}
  {% endcase %}
  {% capture fulldate %}
    {{ page.date | date: '%B' }} {{ day }} {{ page.date | date: '%Y' }} 
  {% endcapture %}
  {% assign subtitle = fulldate %}
  {% include page-header.html %}

  <div class="container wrap -small">
    {{ content }}
  </div>

  {% include bio-card.html %}

  {% assign url = "/photos" %}
  {% include case-nav.html %}
</article>