---
layout: default
active: post
---

<article class="o-main-layout">

  {% assign title = page.title %}
  {% capture subtitle %}
    {% if page.date == "" or page.date == nil %}
    {% else %}
      {% assign thedate = page.date %}
      {% include nice-date.html %}
      {% for cat in page.categories %}
        &middot;
       {{ cat | capitalize }}
      {% endfor %}
    {% endif %}
  {% endcapture %}
	{% include page-header.html %}


  <div class="s-main-content {% if page.has_intro == true %}s-main-content--intro{% endif %}">
    {{ content }}
    {% if page.categories[1] == "links" %}
      {% include link-read-more.html %}
    {% endif %}
  </div>

  <aside class="o-sidebar">
    {% include author-card.html %}

    {% assign cat = "notebook" %}
    {% include post-navigation.html %}
  </aside>

</article>
