---
layout: default
body_class: post
active: post
---

<article {% if page.has_intro == true %} class="has-intro"{% endif %}>

  <header class="page-header">
    <h1 class="title">{{ page.title }}</h1>
    <p class="meta">
      {% if page.date == "" or page.date == nil %}
      {% else %}
        {% assign thedate = page.date %}
        {% include nice-date.html %}
        {% for cat in page.categories %}
          &middot;
         {{ cat | capitalize }}
        {% endfor %}
      {% endif %}
    </p>
  </header>

  <div class="main-content">
    {{ content }}
    {% if page.categories[1] == "links" %}
      {% include link-read-more.html %}
    {% endif %}
  </div>

  <aside class="sidebar">
    {% include bio-card.html %}

    {% assign cat = "notebook" %}
    {% include case-nav.html %}
  </aside>

</article>
