.article-entry {

  .wrap {
    padding-bottom: 0;
    padding-top: 0;
    position: static;
  }

  .side-panel {
    right: 0;
    position: absolute;
    margin-top: -3em;

    @include breakpoint(desktop-lg) {
      width: 32%;
    } 
  }

  h2,
  h3 {
    text-transform: uppercase;
  }

  img {
    display: block;
    margin: 0 auto .65em;

    &.portrait {
      max-height: 600px;
    }
  }

  blockquote {
    border: 0;
  }

  .entry-content {
    margin: 0 auto 10%;
    font-size: 1rem;

    > *:first-child {
      margin-top: 0; 
    }

  }
}