.bio-card {
  @extend %clearfix;
  margin: 0 0 7%;
  background: #fafafa;
  padding: 7% 6%;
  border-radius: .3em;
  border: 1px solid #eee;
  
  @include breakpoint(mobile-lg) {
    display: flex;  
    padding: 3%;
  } 

  > a {
    border: 0;
  }

  img {
    border-radius: 100%;
    display: block;
    margin: 0 auto;
  }

  p {
    @include breakpoint(mobile-lg) {
      width: 80%;
      margin: 0 0 0 2em;
    } 

    @include breakpoint(tablet-lg) {
      margin-top: .6em;
    } 
  }
}