.books > .wrap {
  display: flex;
  flex-wrap: wrap;
}

.books .year {
  display: block;
  width: 100%;
  margin-right: -5em;
  color: #ccc;
  margin: 0;
  text-align: center;
  font-size: 1.6em;
  margin: 2.5em .2em 1.5em;
  
  flex: 0 1 auto;
  position: relative;
  z-index: 90;
  
  &:after {
    content: '';
    height: 1px;
    background: #333;
    display: block;
    width: 100%;
    position: absolute;
    top: 52%;
    left: 0;
    right: 0;
    z-index: 90;
  }

  span {
    background: #222;
    position: relative;
    z-index: 99;
    padding: 0 .4em;
  }
}

.books .year:first-of-type {
  margin-top: 0;
}

.book-item {
  margin: 2.5em 0 0;
  width: 49.8%;
  display: block;
  text-decoration: none;
  border-bottom: 0;
  line-height: 1.2;
  float: left;

  &:first-child {
    //margin-top: 2.5em;
  }

  @include breakpoint(mobile-lg) {
    width: 32.8%;      
  }

  @include breakpoint(tablet-lg) {
    width: 24.8%;
  } 

  @include breakpoint(desktop-lg) {
    width: 19.8%;      
  } 

  &:hover,
  &:focus {
    .title {
      color: $profile-text;
    }

    .meta {
      color: #fff;
    }

    img {
      opacity: .6;
    }

    .date {
      opacity: 1;
    }
  }


  .cover {
    position: relative;
    padding-bottom: 100%;
    height: 0;
  }

  img {
    position: absolute;
    bottom: 0;
    left: 1em;
    width: 62%;
    transition: opacity .1s ease-in-out;
    -webkit-backface-visibility: hidden;
  }

  .title {
    padding: .7em 1em 0;
    margin-top: 0;
    line-height: 1.4;
    margin-bottom: .2em;
    border-top: .6em solid #666666;
    font-family: $font-sans;
    color: #fff;
    text-transform: none;
    font-size: $f16px; 
  }

  .meta {
    margin: 0;
    line-height: 1.4;
    padding: 0 1em;
    color: $lightdarkgray;
    font-size: $f14px;
  }

  .date {
    position: absolute;
    bottom: 0;
    left: 1em;
    background: rgba(0, 0, 0, .6);
    padding: .2em .4em;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .3);
    opacity: 0;
  }
}