.book-entry {

  :target {
    & + blockquote {
      border-left-color: #999;

      @include breakpoint(tablet-sm) {
        margin-left: -2em;      
      } 

      p {
        font-size: 1.3em; 
      }
    }
  }

  h2,
  h3,
  h4 {
    visibility: hidden;
    font-size: 0;
  }

  blockquote + p {
    font-size: $f16px;
    padding-left: 1.5rem;
    margin-bottom: 3em;
    margin-top: 0;
    color: $midgray;
  }
}