.book-holder {
  display: flex;
  flex-wrap: wrap;
}

.year-divider {
  display: block;
  width: 100%;
  color: #ccc;
  margin: 0;
  text-align: center;
  font-size: 1.6em;
  margin: 2em .2em .5em;
  flex: 0 1 auto;
  position: relative;
  z-index: 90;

  @include breakpoint(mobile-lg) {
    margin-bottom: 1.5em;
  } 
  
  &:after {
    content: '';
    height: 1px;
    background: #333;
    display: block;
    width: 100%;
    position: absolute;
    top: 52%;
    left: 0;
    right: 0;
    z-index: 90;
  }

  span {
    background: #222;
    position: relative;
    z-index: 99;
    padding: 0 .4em;
  }
}

.book-item {
  margin: 2em 0 0;
  display: block;
  text-decoration: none;
  border-bottom: 0;
  line-height: 1.2;
  float: left;
  flex: 0 1 50%;

  @include breakpoint(mobile-lg) {
    flex-basis: 25%;
    margin-top: 3em;
  }

  @include breakpoint(desktop-sm) {
    flex-basis: 20%;
  } 
 
  &:active {
    top: 0;
  }

  &:hover,
  &:focus {
    border-bottom: 0;

    .title {
      color: $profile-text;
    }

    .meta {
      color: #fff;
    }

    img {
      opacity: .6;
    }

    .date {
      opacity: 1;
    }
  }

  .cover {
    position: relative;
    padding-bottom: 100%;
    height: 0;
  }

  img {
    position: absolute;
    bottom: 0;
    left: 1em;
    width: 62%;
    transition: opacity .1s ease-in-out;
    -webkit-backface-visibility: hidden;
  }

  .title {
    padding: .7em 1em 0;
    margin-top: 0;
    line-height: 1.4;
    margin-bottom: .2em;
    border-top: .6em solid #666;
    font-family: $font-sans-rale;
    font-weight: normal;
    color: #fff;
    text-transform: none;
  }

  .meta {
    margin: 0;
    line-height: 1.4;
    padding: 0 1em;
    color: $lightdarkgray;
    font-family: $font-sans-rale;
    font-size: $f14px;
  }

  .date {
    position: absolute;
    bottom: 0;
    left: 1em;
    background: rgba(0, 0, 0, .6);
    padding: .2em .4em;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .3);
    opacity: 0;
    transition: opacity .1s ease-in-out;
  }
}