.case-entry {
  margin-top: -7%;

  @include breakpoint(tablet-lg) {
     margin-top: -8%;
  }

  @include breakpoint(desktop-sm) {
    margin-top: -7%;
  }

  @include breakpoint(desktop-lg) {
    margin-top: -6.5em;
  }

  .header-holder {
    padding-top: 7%;

    @include breakpoint(tablet-lg) {
       padding-top: 8%;
    }

    @include breakpoint(desktop-sm) {
      padding-top: 7%;
    }

    @include breakpoint(desktop-lg) {
      padding-top: 6.5em;
    }
  }

  .image {
    overflow: hidden;
    padding: 12% 0 20%;

    @include breakpoint(mobile-lg) {
      padding: 0 0 4%;
    } 

    img {
      display: block;
      margin: 0 -6em;
      transform: scale(1.6);

      @include breakpoint(mobile-lg) {
        transform: scale(1);
        margin-right: auto;
        margin-left: auto;
      } 
    }
  }
}