.case-holder {
  display: flex;
  flex-wrap: wrap;
}

.case-item {
  margin: 1.5em auto;
  text-align: center;
  display: block;
  width: 100%;

  @include breakpoint(tablet-sm) {
    margin: 1.5em 1.8%;
    width: 30.9%;
    float: left;

    &:nth-child(3n+1) {
      margin-left: 0;
    }

    &:nth-child(3n+3) {
      margin-right: 0;
    }
  } 

  &:hover,
  &:focus {
    border: 0;
    position: static;

    .title {
      color: $profile-text;
    }

    .meta {
      color: $darkgray;
    }
  }

  img {
    transition: transform .2s ease-in-out;
    -webkit-backface-visibility: hidden;
  }

  .title {
    text-transform: none;
    font-family: $font-sans-bold;
    font-weight: 300;
    color: #888;
    font-size: 1.2em;
  }

  .meta {
    color: $lightdarkgray;
    font-family: $font-sans-rale;
    font-size: 1em;
  }
}