.content-card {
  margin: 0 0 2.4em;

  .title {
    margin: .2em 0 0;
    font-family: $font-sans-bold;
    font-weight: 300;
  }

  .date {
    top: 1.1em;
    margin: 0 0 1em;
    font-size: $f16px;
    color: #777;
  }

  > p {
    margin: .2em 0 0;
  }
}