.cover-banner {
  background-position: 60% center;
  background-size: cover;
  background-image: url('../images/dist/johannes-wide-800.jpg');
  margin-top: -7%;

  @include breakpoint(mobile-lg) {
    background-image: url('../images/dist/johannes-wide-1000.jpg');
    background-position: center center;
  } 

  @include breakpoint(tablet-lg) {
    background-image: url('../images/dist/johannes-wide-1400.jpg');
    margin-top: -8%;
  } 

  @include breakpoint(desktop-sm) {
    margin-top: -7%;
  }

  @include breakpoint(desktop-lg) {
    background-image: url('../images/dist/johannes-wide-2000.jpg');
    margin-top: -6.5em;
  } 

  @include breakpoint(desktop-xl) {
    background-image: url('../images/dist/johannes-wide-2600.jpg');
  }

  .wrap {
    padding-top: 18%;
    padding-bottom: 18%;

    @include breakpoint(mobile-lg) {
      padding-top: 14%;
      padding-bottom: 14%;
    }

    @include breakpoint(tablet-lg) {
      padding-top: 16%;
    } 
  }

  .title {
    text-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    margin-bottom: 0;
    text-transform: none;
    color: #fff;
    font-family: $font-sans;
    font-weight: bold;
    font-size: 1.4em;

    @include breakpoint(mobile-lg) {
      font-size: calc(1.6rem + 2.4vw);
    } 
  }

  .meta {
    font-size: 1em;
    font-size: calc(.6rem + .9vw);
    margin: .2em 0 .8em;
    line-height: 1.4;

    span {
      @include breakpoint(mobile-lg-max) {
        display: block;
      } 
    }
  }

  .btn {
    margin: 0;
    font-size: 1em;
    font-size: calc(.7rem + .5vw); 
  }
}