.cover-banner {
  background-position: 62% center;
  background-size: cover;
  background-image: url('../images/johannes/johannes-wide-900.jpg');

  @include breakpoint(mobile-lg) {
    background-image: url('../images/johannes/johannes-wide-1100.jpg');
    background-position: center center;
  } 

  @include breakpoint(tablet-sm) {
    background-image: url('../images/johannes/johannes-wide-1500.jpg');
  } 

  @include breakpoint(desktop-sm) {
    background-image: url('../images/johannes/johannes-wide-2600.jpg');
  } 

  @include breakpoint(desktop-xl) {
    background-image: url('../images/johannes/johannes-wide-3000.jpg');
  }

  .wrap {
    padding-top: 18%;
    padding-bottom: 18%;

    @include breakpoint(mobile-lg) {
      padding-top: 14%;
      padding-bottom: 14%;
    }

    @include breakpoint(tablet-lg) {
      padding-top: 15%;
      padding-bottom: 15%;
    } 
  }

  .title {
    @extend %text-shadow;
    margin-bottom: .05em;
    font-size: 1.4em;
    letter-spacing: .02em;
    text-transform: uppercase;
    color: #fff;

    @include breakpoint(mobile-lg) {
      font-size: 2.4em;
    } 

    @include breakpoint(tablet-sm) {
      font-size: 2.75em;
    } 

    @include breakpoint(tablet-lg) {
      font-size: 2.6em;
    } 

    @include breakpoint(desktop-sm) {
      font-size: 3.3em;
    }

    @include breakpoint(desktop-lg) {
      font-size: 3.8em;
    }
    @include breakpoint(desktop-xl) {
       font-size: 4.4em;
     }  
  }

  .meta {
    font-size: .9em;
    margin: .5em 0 .8em;
    line-height: 1.4;
    //font-family: $font-sans-light;

    @include breakpoint(mobile-lg) {
      font-size: 1em;
    } 

    @include breakpoint(tablet-sm) {
      margin: .3em 0 .8em;
      font-size: 1.1em;
    } 

    @include breakpoint(tablet-lg) {
      font-size: .95em;
    } 

    @include breakpoint(desktop-sm) {
      font-size: 1.2em;
    } 

    @include breakpoint(desktop-lg) {
      font-size: 1.4em;
    }
    @include breakpoint(desktop-xl) {
      font-size: 1.6em;
    } 

    span {
      @include breakpoint(mobile-lg-max) {
        display: block;
      } 
    }
  }

  .btn {
    margin: 0;
    font-size: .9em;

    @include breakpoint(tablet-sm) {
      font-size: $f16px;
    } 
  }
}