.header-global h1,
.top-bar h1 {
  letter-spacing: -.005em;
  line-height: 1;
  font-size: $f20px;
  padding: 0 1.1em;
  display: inline-block;

  @include breakpoint(desktop-lg) {
    padding: 0 1.4em;
  } 

  a {
    display: block;
    text-decoration: none;
    color: $darkgray;

    &:hover,
    &:focus {     
      @include breakpoint(desktop-sm) {
        .title {
          color: $darkgray;
        }          
      } 
    }
  }

  .title {
    color: #bbb;
    font-size: 1rem;
    transition: all .2s ease-in-out;
    color: #737373;

    @include breakpoint(desktop-sm) {
      font-size: .95rem;
    } 

    @include breakpoint(desktop-lg) {
      font-size: 1rem;
    } 
  }

  .role {
    display: block;
    text-transform: none;
    margin-top: .25em;
    font-size: .9rem;
    color: $lightdarkgray;
    font-family: $font-sans;

    @include breakpoint(desktop-sm) {
      font-size: .83rem;
    } 

    @include breakpoint(desktop-lg) {
      font-size: .9rem;
    } 
  }
}

.top-bar h1 {
  padding: 0;
}