.header-global {

  //position: absolute;
  width: 100%;
  z-index: 1000;
  position: relative;
  bottom: 0;

  .wrap {

    nav {
      background: #2a3137;
      background: linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .1));
      // box-shadow:  0 0 0 1px rgba(0, 0, 0, .1);
      -webkit-backdrop-filter: blur(8px);
      border-top: 1px solid rgba(255, 255, 255, .2);  
      border-bottom: 0;    
    }

  }

  .nav-item {
    a {
      display: none;
      @include breakpoint(mobile-lg) {
        display: inline-block;    
      } 
    }
    
    .brand {
      display: inline-block;
    }
  }
}

.menu-trigger {
  position: absolute;
  right: 0;
  top: 0;
  display: inline-block;
  padding: .7em 1.2em;
  font-family: $font-sans-bold;
  text-transform: uppercase;
  color: #666;

  &:active {
    top: 0;
    position: absolute;
  }

  @include breakpoint(mobile-lg) {
    display: none;
  } 
}