.header-global {
  background: rgba(255, 255, 255, .9);
  width: 100%;
  border-bottom: 1px solid #eee;
  z-index: 1000;
  position: relative;

  @include breakpoint(tablet-lg) {
    position: absolute;
  } 
}