.nav-categories {
  background: $snow;

  .wrap {
    padding-top: 0;
    padding-bottom: 0;
  }

  a {
    transition: all .2s ease-in-out;

    &:hover,
    &:focus {
      background: #ddd;

    }

    &:active {
      position: static;
      transition: none;
      box-shadow: inset 0 2px 4px -2px rgba(0, 0, 0, .2);
    }
  }

  .see-all {
    display: inline-block;
    float: left;
    padding: 1.5em .9em;
    border-bottom: 0;
    font-family: $font-sans-rale;
    color: $profile-text;
    //margin-left: -.8em;
  }

  ul {
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: $f16px;

    li {
      display: inline;
      margin-bottom: 0;
    }

    li.next a {
      //padding-right: 0;
      border-right: 0;
    }

    a {
      display: block;
      float: left;
      padding: 1.5em 1em;
      border-right: 1px solid $gray;
      border-bottom: 0;
      font-family: $font-sans-rale;
      color: $profile-text;
    }
  }
}