.nav-primary {
  margin: 0 auto;

  @include breakpoint(tablet-lg) {
    padding: 0;
  } 

  ul {
    list-style: none;
    margin: 0;

    @include breakpoint(mobile-lg) {
      display: flex; 
      width: auto; 
      text-align: center;
      justify-content: space-between;
    } 
  }
}

.nav-item {
  margin: 0;
  order: 0;

  @include breakpoint(mobile-lg) {
    display: inline-block;
  }

  &:nth-child(n+5) { 
    order: 2;
  }

  &:last-child a {
    border-bottom: 0;
  }

  .brand {
    line-height: 1;
    font-size: $f16px;
    width: 4em;
    width: 2em;
    padding: 1.6em 1.7em;
    margin-bottom: -2em;
    display: inline-block;
    background: url('../images/layout/logo-white.png') center center no-repeat #2a3137;
    background-size: 2.5em;
    border-bottom: 0;
    text-indent: -9999px;

    @include breakpoint(desktop-sm) {
      padding: 1.7em 1.8em;
    } 
  }

  a {
    color: #333;
    padding: 1.4em .1em;
    letter-spacing: .03em;
    text-transform: uppercase;
    font-family: $font-sans-bold;
    font-size: .9rem;
    display: block;
    position: static;
    border-bottom: 1px solid rgba(125, 125, 125, .4);

    @include breakpoint(mobile-lg) { 
      display: inline-block;
      padding: 1em .6em 1.1em;
      border-bottom: 0;
    }

    @include breakpoint(desktop-sm) {
      font-size: .95rem;
    } 

    &:hover,
    &:focus {
      color: $profile-text;
    }

    &:active {
      top: 0;
    }

    &.active {
      color: $profile-text;
      position: relative;

      @include breakpoint(mobile-lg) {
        &:after {
          content: '';
          display: block;
          height: .4em;
          background: $profile-text;
          position: absolute;
          bottom: -.45em;
          left: 0;
          right: 0;
        }
      } 
    }
  }
}