.nav-primary {
  margin: 0 auto;

  @include breakpoint(tablet-lg) {
    padding: 0;
  } 

  ul {
    list-style: none;
    margin: 0;

    @include breakpoint(mobile-lg) {
      display: flex; 
      width: auto; 
      text-align: center;
      justify-content: space-between;
    } 
  }
}

.nav-item {
  margin: 0;
  order: 0;

  @include breakpoint(mobile-lg) {
    display: inline-block;
  }

  &:nth-child(n+5) { 
    order: 2;
  }

  &:last-child a {
    border-bottom: 0;
    margin-right: 2em;
  }

  .brand {
    line-height: 1;
    font-size: $f16px;
    width: 4em;
    width: 2em;
    padding: 1.6em 1.7em;
    margin-bottom: -2em;
    
    margin-top: -1px;
    display: inline-block;
    background: url('../images/layout/logo-white.png') center center no-repeat #2a3137;
    background-size: 2.5em;
    border-bottom: 0;
    text-indent: -9999px;

    &:hover,
    &:focus {
      background: url('../images/layout/logo-white.png') center center no-repeat #2a3137;
      background-size: 2.5em;
    }

    @include breakpoint(desktop-sm) {
      padding: 1.7em 1.8em;
    } 
  }

  a {
    color: #fff;
    padding: 1.4em .1em;
    letter-spacing: .03em;
    text-transform: uppercase;
    font-family: $font-sans-bold;
    font-size: .9rem;
    display: block;
    position: static;
    border-bottom: 1px solid rgba(125, 125, 125, .4);
    text-shadow: 0 1px 2px rgba(0, 0, 0, .2); 
    transition: all .2s ease-in-out;

    @include breakpoint(mobile-lg) { 
      display: inline-block;
      padding: .7em 0 .8em;
      border-bottom: 0;
    }

    @include breakpoint(desktop-sm) {
      font-size: .95rem;
    } 

    span {
      display: inline-block;
      padding: .3em 1em;
      border-radius: 10em;
      transition: all .2s ease-in-out;
      //background: rgba(0, 0, 0, .1);
    }

    &:hover,
    &:focus {
      //color: rgba(0, 0, 0, .6);
      

      span {
        transition: none;
        background: rgba(0, 0, 0, .15);
      }
    }

    &:active {
      top: 0;

      span {
        background: rgba(0, 0, 0, .2);
      }
    }

    &.active {
      color: #fff;
      position: relative;

      @include breakpoint(mobile-lg) {
        &:after {
          content: '';
          display: block;
          height: .4em;
          background: $profile-text;
          position: absolute;
          bottom: -.3em;
          left: 0;
          right: 0;
        }
      }

      &:hover,
      &:focus {
        span {
          background: none;
        }
      } 
    }
  }
}