.page-header {

  &.-left-align {
    .title,
    .meta {
      text-align: left;
    }
  }

  &.-without-border {
    .title {
      border-bottom: 0;
      padding-bottom: .1em;
      margin-bottom: .1em;
    }
  }

  &.-one-col {
    @include breakpoint(mobile-lg) {
      width: 70%;
    } 
  }

  .top-ribbon & {
    padding-bottom: 2.2em;

    @include breakpoint(desktop-sm) {
      padding-bottom: 4em;      
    } 

    &.-no-padding {
      padding-bottom: 0;
    }
  }

  .title {
    padding-bottom: .2em;
    text-transform: none;
    text-align: center;
    border-bottom: 1px solid rgba(155, 155, 155, .2);      

    @include breakpoint(mobile-lg-max) {
      font-size: $f32px;
    }
  }

  .meta {
    margin: 0;
    color: #666;
    line-height: 1.4;
    text-align: center;
    font-family: $font-sans;

    @include breakpoint(mobile-lg-max) {
      font-size: 1.1rem;      
    }

    span {
      font-style: italic;
      font-size: .85em;      
    }
  }

  .title,
  .meta {
    .dark & {
      color: #fff;  
      text-shadow: 0 1px 4px rgba(0, 0, 0, .2);       
    }
  }
}