.page-header {

  &.-left-align {
    .title,
    .meta {
      text-align: left;
    }
  }

  &.-without-border {
    .title {
      border-bottom: 0;
      padding-bottom: .1em;
      margin-bottom: 0;
    }
  }

  .dark & {
    .title,
    .meta {
      color: #fff;  
      text-shadow: 0 0 3px rgba(0, 0, 0, .2); 
    }
  }

  &.-one-col {
    @include breakpoint(mobile-lg) {
      width: 70%;
    } 
  }
  // &.-start {
  //   position: relative;
    
  //   .wrap {
  //     position: relative;
  //   }

  //   img {
  //     margin-bottom: -1em;
  //     margin-top: 3em;
  //     display: block;
  //     transform: scale(1.13);

  //     @include breakpoint(mobile-lg) {
  //       //position: absolute;
  //       //box-shadow: 8px 8px 0 rgba(99, 130, 154, .5);   
  //       top: -2.5em;
  //       float: right;
  //       right: 4em;
  //       //max-width: 200px;
  //       //width: 30%;
  //       margin: 0;
  //     } 

  //     @include breakpoint(tablet-lg) {
  //       max-width: 240px;
  //       margin-bottom: -5em;
  //       margin-top: -6.5em;
  //     } 

  //     @include breakpoint(desktop-sm) {
  //       top: -3.2em;
  //       right: 8em;
  //       //max-width: 186px;
  //       //width: 30%;
  //     } 

  //     @include breakpoint(desktop-lg) {
  //       //max-width: 320px;
  //     } 

  //   }

  //   h1,
  //   p {
  //     @include breakpoint(mobile-lg) {
  //       width: 55%;          
  //       float: left;
  //       color: #fff;
  //       text-shadow: 0 1px 4px rgba(0, 0, 0, .2); 
  //     } 

  //   }
    
  // }

  .title {
    padding-bottom: .2em;
    text-transform: none;
    text-align: center;
    border-bottom: 1px solid rgba(155, 155, 155, .2);      

    @include breakpoint(mobile-lg-max) {
      font-size: $f32px;
    }
  }

  .meta {
    margin: 0;
    color: #666;
    line-height: 1.4;
    text-align: center;
    font-family: $font-sans;

    @include breakpoint(mobile-lg-max) {
      font-size: 1.1rem;      
    }

    span {
      font-style: italic;
      font-size: .85em;      
    }
  }
}