.page-wrap-outer {
  background-color: $profile-bg;
}

.page-wrap {

  .article {
    background-color: #fff;
    padding: 0 0 4% 0;

    .wrap {
      @include breakpoint(tablet-sm) {
        padding: 0 10%;        
      }

      @include breakpoint(desktop-lg) {
        padding: 0 15%;
      } 
    }

    @include breakpoint(tablet-sm) {
      float: left;
      display: inline-block;
      box-shadow: 0 0 5px rgba(0, 0, 0, .25);
      max-width: 71%;
      margin: 5% 3% 6% 0;
      
    } 

    @include breakpoint(tablet-lg) {
      max-width: 73%;
    }

    @include breakpoint(desktop-lg) {
      margin-left: 6%;
      max-width: 68%;
    } 

    h1 {
      font-size: $f32px;
      margin: 8% 0;
    }

    h2 {
      margin: 3.4em 0 .4em;
    }

    .img-wrap {
      margin: 0 -5.6%;

      @include breakpoint(tablet-sm) {
        margin: 0 -12.5%;          
      } 
      
      @include breakpoint(desktop-lg) {
        margin: 0 -21.5%;  
      } 
      
    }

  }

  .aside {
    padding: 0 2em 4em;


    @include breakpoint(tablet-sm) {
      display: table;
      padding: 8% 0 3.5%;      
    } 

    a {
      color: #fff;
    }
  }

  .nav-list {
    margin: 0 0 2.2em;
    list-style: none;
    //background: rgba(255, 255, 255, .1);

    &:last-child {
      margin-bottom: 0;
    }

    h4 {
      color: #fff;
      color: rgba(255, 255, 255, .6);
      margin: 0 0 .6em;
      text-transform: uppercase;
      font-weight: 300;

    }

    li {
      margin: 0;
      font-size: .9em;

      a {
        opacity: .8;
        display: block;
        border: 0;
        padding: .25em 1.2em;
        border-left: 2px solid transparent;
        //margin: .2em 0;

        &:hover,
        &:focus {
          opacity: 1;
          background: rgba(0, 0, 0, .1);
        }

        &.active {
          opacity: 1;
          border-left: 2px solid #fff;
          margin: 0em;
        }
      }
    }
  }
}