.paper-container {
  background-color: $profile-text;
  max-width: 100em;
  margin: 0 auto;
}

.paper-article {
  background-color: #fff;
  padding: 0 5% 4.5%;

  @include breakpoint(tablet-sm) {
    float: left;
    display: inline-block;
    box-shadow: 0 0 5px rgba(0, 0, 0, .25);
    max-width: 71%;
    margin: 5% 3% 0 0;
    padding-right: 8%;
    padding-left: 8%;
  } 

  @include breakpoint(tablet-lg) {
    max-width: 75%;
  }

  @include breakpoint(desktop-lg) {
    margin-left: 6%;
    margin-bottom: 6%;
    max-width: 68%;
  } 

  @include breakpoint(desktop-xl) {
    padding-right: 8em;
    padding-left: 8em;
    max-width: 66em;
  }

  .page-header {
    .title,
    .meta {
      text-align: left;  
    }
    
  }

  h1 {
    font-size: $f32px;
    padding: 10% 0 0;
    margin: 0;

    @include breakpoint(desktop-lg) {
      padding-top: 11%;
    } 
  }

  h1 + h2 {
    margin-top: 2.4em;
  }

  h2 {
    margin: 3.4em 0 .4em;
  }

  .img-wrap {
    margin: 0 -5.6%;

    @include breakpoint(tablet-sm) {
      margin: 0 -12.5%;          
    } 
    
    @include breakpoint(desktop-lg) {
      margin: 0 -21.5%;  
    }  
  }
}