.ribbon-top {
  margin-top: -9%;

  @include breakpoint(desktop-lg) {
    margin-top: -7.5em;
  }

  .header-holder {
    padding-top: 9%;

    @include breakpoint(desktop-lg) {
      padding-top: 7.5em;
    }
  }

  .image {
    overflow: hidden;
    padding: 12% 0 20%;

    @include breakpoint(mobile-lg) {
      padding: 0 0 3%;
    } 

    img {
      display: block;
      margin: 0 -6em;
      transform: scale(1.6);

      @include breakpoint(mobile-lg) {
        transform: scale(1);
        margin-right: auto;
        margin-left: auto;
      } 
    }
  }
}