.side-panel {

  margin: 0 auto;
  max-width: 200px;
  position: relative;

  @include breakpoint(mobile-lg) {
    float: right; 
    width: 21%;
    max-width: none;
  }
}

aside {
  p {
    font-size: $f16px;
  }
}