.side-panel {
  margin: 5% 0 0 !important;

  @include breakpoint(mobile-lg) {
    float: right; 
    width: 24%;
    padding-left: 4%;
    max-width: none;
    margin: 0 !important;

    @include breakpoint(tablet-lg) {
      width: 28%;
      padding-left: 5%;
    } 
  }

  &.-book {
    @include breakpoint(mobile-lg) {
      margin-top: -3.6em !important;
    }

    @include breakpoint(tablet-lg) {
      width: 27%;
    } 
  }

  p {
    font-size: $f16px;
  }

  .entry {
    display: block;
    border-bottom: 1px solid #eee;
    padding: .5em 0;
  }
}