.side-panel {

  margin: 0 auto;
  max-width: 200px;
  position: relative;

  @include breakpoint(mobile-lg) {
    float: right; 
    width: 22%;
    max-width: none;
  }

  @include breakpoint(desktop-sm) {
    width: 19%;
  } 
}

aside {
  p {
    font-size: $f16px;
  }
}