.top-bar-fixed {
  background: #fff;

  position: relative;
  padding: 2em 0;

  @include breakpoint(tablet-sm) {
    padding: 2.3em 0;
  }

  @include breakpoint(desktop-sm) {
    display: none;
  } 
}

.top-bar {
  position: relative;
  z-index: 102;
  transition: all .2s ease-in-out;
  position: fixed;
  width: 100%;
  top: 0;
  background: #fff;
  background: rgba(255, 255, 255, .95);
  border-bottom: 1px solid #eee;
  padding: .7em 0;

  @include breakpoint(tablet-sm) {
    padding: 1em 0;
  } 

  .menu-active & {
    transform: translateX(-232px);
  }

  @include breakpoint(desktop-sm) {
    display: none;  
  }

  .menu-trigger {
    display: inline-block;
    width: 2.8em;
    height: 2.8em;
    margin-top: -.1em;
    border: 2px solid #ccc;
    border-radius: .4em;
    float: right;
    background: url('../images/icons/icon-menu.svg') no-repeat center center;
    background-size: 1.2em;
    outline: none;

    &:hover,
    &:focus {
      //background-color: #222;
      //border-color: #222;
    }

    .menu-active & {
      background-image: url('../images/icons/icon-close.svg');
      background-size: .9em;
    }
  }

  h1 {
    margin: 0;
  }
}