.top-ribbon {
  //padding-top: 2em;
  //margin-top: -6em;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, .1);

  @include breakpoint(desktop-sm) {
    padding-bottom: 10.7em;
    padding-top: 1.2em;
    //margin-top: -7.5em;
  }

  .page-header {
    position: absolute;
    width: 100%;
  }

  .image {
    overflow: hidden;
    padding: 12% 0 20%;

    @include breakpoint(mobile-lg) {
      padding: 0 0 3%;
    } 

    img {
      display: block;
      transform: scale(1.5);

      @include breakpoint(mobile-lg) {
        transform: scale(1);
        margin-right: auto;
        margin-left: auto;
      } 
    }
  }
}