.top-ribbon {
  padding-top: 5em;
  margin-top: -5em;

  @include breakpoint(desktop-sm) {
    padding-top: 6.5em;
    margin-top: -6.5em;
  }

  .image {
    overflow: hidden;
    padding: 12% 0 20%;

    @include breakpoint(mobile-lg) {
      padding: 0 0 3%;
    } 

    img {
      display: block;
      margin: 0 -6em;
      transform: scale(1.6);

      @include breakpoint(mobile-lg) {
        transform: scale(1);
        margin-right: auto;
        margin-left: auto;
      } 
    }
  }
}