.top-bar {
  position: relative;
  z-index: 102;
  background: #fff;
  border-bottom: 1px solid #eee;
  padding: 1.5em 0;
  transition: all .2s ease-in-out;

  .menu-active & {
    transform: translateX(-240px);
  }

  @include breakpoint(desktop-sm) {
    display: none;  
  }

  .menu-trigger {
    display: inline-block;
    width: 2.6em;
    height: 2.6em;
    margin-top: -.15em;
    border: 2px solid #ccc;
    border-radius: .4em;
    float: right;
    background: url('../images/icons/icon-menu.svg') no-repeat center center;
    background-size: 1.2em;
    outline: none;

    &:hover,
    &:focus {
      background-color: #222;
      border-color: #222;
    }

    .menu-active & {
      background-image: url('../images/icons/icon-close.svg');
      background-size: .9em;
    }
  }

  h1 {
    margin: 0;
  }
}