---
layout: default
title: "Front-end Web Developer"
active: "index"
description: "Johannes Holmberg is a Front-end Web Developer in Basel, Switzerland."
---

<header class="cover-banner">
  <div class="wrap">
    <h1 class="title">Hi, I’m Johannes.</h1>
    <p class="meta">Freelance front-end web <span>developer in Basel, Switzerland.</span></p>
    <a href="{{siteurl}}/work" class="btn -standard">View my work</a>
  </div>
</header>

<div class="container wrap">
  <h2 class="title" style="text-align: center;">Selected Work</h2>

  {% for post in site.categories.work limit:2 %}

    {% include case-item.html %}

  {% endfor %}

</div>