.case-item {
  @extend %clearfix;
  margin: 0 2% 1.5em;
  line-height: 1.2;

  @include breakpoint(tablet-sm) {
    width: 45%;
    margin: 0 5% 5%;
    float: left;

    &:nth-child(odd) {
      margin-left: 0;
    }

    &:nth-child(even) {
      margin-right: 0;

      &:after {
        margin-bottom: 1.5em;
      }
    }
  } 

  a {
    display: block;
    border-bottom: 0;
    text-align: center;

    &:hover,
    &:focus {
      img {
        transform: translateY(-6px);
      }

      .title {
        color: $profile-text;
      }

      .meta {
        color: $darkgray;
      }
    }
  }

  img {
    transition: all .2s ease-in-out;
  }

  .title {
    transition: all .2s ease-in-out;
    font-size: 1.4em;
    text-decoration: none;
    display: block;
    padding: 1.5em 0 .3em;
    margin: 0;
    color: $darkgray;
    font-family: $font-sans-light;

    @include breakpoint(tablet-lg) {
      font-size: 1.6em;
    } 
  }

  .meta {
    transition: all .2s ease-in-out;
    color: $lightdarkgray;
    margin: 0;
    font-size: 1em;
    padding-bottom: 2.6em;
  }
}