.footer-global {
  background: #000;
  color: #fff;
  padding: 0 0 18%;

  a {
    color: #fff;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $lightdarkgray;
    }
  }

  nav {
    border-bottom: 1px solid #222;
    text-align: center;

    @include breakpoint(mobile-lg-max) {
      font-size: .9em;      
    } 

    ul {
      margin: 0;
      padding: 1.5em 0;
    }

    li {
      display: inline;
    }

    a {
      display: inline-block;
      padding: .6em 1.1em;
      color: $snow;

      @include breakpoint(mobile-lg) {
        margin: 0 1em 0 0;
      } 

      &.active {
        background: $darkgray;
        border-radius: 2em;
        color: #fff;
      }
    }
  }

  .social {
    border-bottom: 1px solid #222;
    margin-bottom: 2.2em;

    ul {
      margin: 0;
      list-style: none;
      padding: 1.5em 0;
      text-align: center;
    }

    li {
      display: inline-block;
      margin: 0;
    }

    a {
      padding: 2.6em .8em .2em;
      margin: 0 .3em;
      color: #fff;
      display: block;
      float: left;
      background: no-repeat center .5em;
      background-size: 2em;
      opacity: .6;

      &.twitter {
        background-image: url('../images/icons/twitter.png');
      }

      &.linkedin {
        background-image: url('../images/icons/linkedin.png');
      }

      &.github {
        background-image: url('../images/icons/github.png');
      }

      &:hover,
      &:focus {
        opacity: 1;
        color: #fff;
      }
    }
  }

  .copyright {
    font-size: $f16px; 
    color: $lightdarkgray;
    text-align: center;

    a {
      display: block;
      padding: .3em;
      margin: .2em 0;

      @include breakpoint(mobile-lg) {
        display: inline-block;
        padding-right: .1em;

        &:before {
          content: '\b7';
          display: inline;
          margin: 0 .5em 0 .2em;
          color: $lightdarkgray;
        }
      } 
    } 
  }
}