.header-global {
  float: left;
  width: 260px;
  background: url('../images/noise.jpg');
  background: #fff;
  background-size: 25%;
  min-height: 100vh;
  position: relative;
  z-index: 100;

  @include breakpoint(desktop-xl) {
     width: 290px;
   }  
  
  .wrap {
    padding: 3em 0; 
  }

  h1 {
    letter-spacing: -.005em;
    line-height: 1;
    font-size: 1.45rem;
    margin: 1.1em 0 .55em;
    padding: 0 1.7em;

    @include breakpoint(mobile-lg) {
      font-size: $f20px;
    }

    @include breakpoint(tablet-sm) {
      margin: .8em 0;
    } 

    a {
      display: block;
      text-decoration: none;
      color: $darkgray;


      &:hover,
      &:focus {
        .title {
          color: $darkgray;
        }
      }
    }

    .title {
      text-transform: uppercase;
      color: #737373;
      font-size: 1rem;
      transition: all .2s ease-in-out;



    }

    .role {
      display: block;
      margin-top: .25em;
      font-size: .9rem;
      color: $lightdarkgray;
      font-family: $font-sans;
    }
  }
}