.header-global {
  position: absolute;
  width: 240px;
  background: url('../images/noise.jpg');
  background: #222;
  background-size: 25%;
  min-height: 100vh;
  z-index: 100;
  padding: 4em 0;
  right: 0; 

  @include breakpoint(desktop-sm) {
    width: 260px;
    position: fixed;
    background: #fff;
    right: auto;
  } 

  @include breakpoint(desktop-xl) {
     width: 290px;
  }
}