.section-wrap {
  background: #fff;

  &.-dark {
    background: #303030;
    color: #fff;
  }

  .wrap {
    padding-bottom: 12%;
    padding-top: 10%;

    @include breakpoint(tablet-lg) {
      padding-top: 5%;
      padding-bottom: 8%;
    } 
  }

  .title {
    text-align: center;
    width: 100%;
    margin: 0 0 10%;
    font-family: $font-sans-light;
    font-size: 1.6em;

    @include breakpoint(mobile-lg) {
      margin-bottom: 5%;
    } 

    @include breakpoint(tablet-lg) {
      font-size: 2.4em;      
    } 
  }

  .selected-work {

    a {
      display: block;
      border-bottom: 1px solid transparent;
      text-align: center;
      transition: all .2s ease-in-out;

      &:hover,
      &:focus {
        border-bottom: 1px solid $profile-bg;
      }
    }

    .title {
      font-size: 1.4em;
      text-decoration: none;
      display: block;
      padding: 1.5em 0 .3em;
      margin: 0;
      font-family: $font-sans-light;

      @include breakpoint(tablet-lg) {
        font-size: 1.6em;
      } 
    }

    .meta {
      color: $lightdarkgray;
      margin: 0;
      font-size: 1em;
      line-height: 1.4;
      padding-bottom: 2.6em;
    }


    margin: 0 0 1em;

    @include breakpoint(mobile-lg) {
      margin: 0 6% 1em;
    } 

    @include breakpoint(tablet-sm) {
      margin: 0 10% 1em;
    } 

    @include breakpoint(tablet-lg) {
      width: 42%;
      margin: 0 4% 5%;
      float: left;

      &:last-of-type {
        display: none;
      }
    } 

    @include breakpoint(desktop-xl) {
      width: 30%;
      margin: 0 2.5%;
      float: left;

      &:first-of-type {
        margin-left: 0;
      }

      &:last-of-type {
        margin-right: 0;
        display: block;
      } 
    } 

  }
}

.book-highlight {
  text-align: center;

  .title {
    text-transform: uppercase;
    color: #666;
  }

  img {
    max-width: 120px;
  }

  p {
    font-size: $f26px;
    font-family: $font-sans-light;

    a {
      border-bottom: 0;
      display: inline-block;
      border: 2px solid #666;
      margin: .8em 0 0;
      font-size: $f20px;
      //float: right;
      padding: .2em 1.6em;
      border-radius: .5em;
      line-height: 1.4;
      color: #666;

      &:hover,
      &:focus {
        background: #fff;
        border-color: #fff;
      }
    }
  }
}