.page-header {

  position: relative;
  padding-top: 5%;

  .wrap {
    padding-top: 0;
    padding-bottom: 0;
  }

  .title {
    @extend %header-style;
    text-align: center;

    .reading & {
      color: #fff;
    }
  }

  .meta {
    margin: 0;
    color: $midgray;
    line-height: 1.4;
    text-align: center;

    .reading & {
      color: #fff;
    }

    @include breakpoint(mobile-lg-max) {
      font-size: 1.1rem;      
    }

    span {
      font-family: $font-sans-italic;
      font-size: .85em;      
    }
  }
}