.pagination-block {
  padding: 10% 0;
  text-align: center;
  width: 100%;

  @include breakpoint(tablet-sm) {
    padding: 5% 0;
  } 


  .pagination {
    text-align: center;
    display: inline-block;
    padding: .8em 2em;
    margin: 0 .5em;
    border: 0;
    background: $whitesmoke;
    border-radius: 2em;
  }

}