<a href="{{ post.url }}" class="case-item">
  <img 
    src="/assets/images/dist/{{post.cover}}-600.jpg"
    sizes="
    ({{site.tablet-sm}}) 42vw,
    ({{site.mobile-lg}}) 70vw,
    90vw"
    srcset="
    /assets/images/dist/{{post.cover}}-320.jpg 320w,
    /assets/images/dist/{{post.cover}}-600.jpg 600w,
    /assets/images/dist/{{post.cover}}-800.jpg 800w,
    /assets/images/dist/{{post.cover}}-1000.jpg 1000w"
    alt="{{post.title}}"
  >
  <h2 class="title">{{ post.title }}</h2>
  <p class="meta">
    {% if post.meta == 'date' %}
      {% assign d = post.date | date: "%-d" %} 
      {% case d %}
        {% when '1' or '21' or '31' %}
          {% capture day %}{{ d }}st, {% endcapture %}
        {% when '2' or '22' %}
          {% capture day %}{{ d }}nd, {% endcapture %}
        {% when '3' or '23' %}
          {% capture day %}{{ d }}rd, {% endcapture %}
        {% else %}
          {% capture day %}{{ d }}th, {% endcapture %}
      {% endcase %}
      {% capture fulldate %}
        {{ post.date | date: '%B' }} {{ day }} {{ post.date | date: '%Y' }} 
      {% endcapture %}
      <span>{{ fulldate }}</span>
    {% else %}
      <span>{{ post.meta }}</span>
    {% endif %}
  </p>
</a>