<ul>
{% for category in site.categories %}
    {% assign catg_name = category.first %}
    {% if catg_name == page.category %}
        {% assign catg_posts = category.last %}
    {% endif %}
{% endfor %}
{% for post in catg_posts %}
    {% if post.title == page.title %}
        {% unless forloop.last %}
            {% assign next = catg_posts[forloop.index] %}
            <li class="previous">
              <a href="{{ next.url }}" title="{{ next.title }}">&larr; <span>Previous</span></a>
            </li>
        {% endunless %}
        {% unless forloop.first %}
            <li class="next">
              <a href="{{ prev.url }}" title="{{ prev.title }}"><span>Next</span> &rarr;</a>
            </li>
        {% endunless %}
    {% endif %}
    {% assign prev = post %}
{% endfor %}
</ul>