<header class="header-global">
  <h1 {% if page.title == "Front-end Web Developer" %} class="active" {% endif %}>
    <a href="/">
      <span class="title">
        <span class="first">Johannes</span> 
        <span class="last">Holmberg</span>
      </span> 
      <span class="role">Front-end Web Developer</span>
    </a>
  </h1>
  <nav role="navigation" class="nav-primary">
    <h2 class="visuallyhidden">Main navigation</h2>
    {% include navigation.html %}
  </nav>
</header>

<div class="top-bar">
  <div class="wrap">
    <a href="#" class="menu-trigger" id="js-menu-trigger"></a>
    <h1>
      <a href="/">
        <span class="title">
          <span class="first">Johannes</span> 
          <span class="last">Holmberg</span>
        </span> 
        <span class="role">Front-end Web Developer</span>
      </a>
    </h1>
  </div>      
</div>