<header class="header-global">
  <a href="/" class="brand{% if page.title == "Front-end Web Developer" %} active {% endif %}">
    <span class="title">
      <span class="first">Johannes</span> 
      <span class="last">Holmberg</span>
    </span> 
    <span class="role">Front-end Web Developer</span>
  </a>

  <nav role="navigation" id="main-navigation" class="nav-primary">
    <h2 class="visuallyhidden">Main navigation</h2>
    {% include navigation.html %}
  </nav>
</header>


<div class="top-bar">

  <div class="wrap">
    <a href="#" class="menu-trigger" id="js-menu-trigger"></a>
    <a href="/" class="brand">
      <span class="title">
        <span class="first">Johannes</span> 
        <span class="last">Holmberg</span>
      </span> 
      <span class="role">Front-end Web Developer</span>
    </a>
  </div>

</div>
