<ul>

  <li class="nav-item">
    <a href="/journal" {% if page.active == "journal" or page.category == "article" or page.category == "journal" %} class="active" {% endif %}>Journal</a>
  </li>

  <li class="nav-item">
    <a href="/work" {% if page.active == "work" or page.category == "work" %} class="active" {% endif %}>Work</a>
  </li>
  
  <li class="nav-item">
    <a href="/reading" {% if page.active == "reading" or page.category == "reading" %} class="active" {% endif %}>Reading</a>
  </li>

  <li class="nav-item">
    <a href="/links" {% if page.active == "links" %} class="active" {% endif %}>Links</a>
  </li>
  
  <li class="nav-item">
    <a href="/about" {% if page.active == "about" %} class="active" {% endif %}>About</a>
  </li>

</ul>