<img 
  src="{{ site.url }}/assets/images/dist/{{ filename }}-800.{{ ext }}"
  sizes="
  ({{ site.tablet-sm }}) 94vw,
  100%"
  srcset="
  {{ site.url }}/assets/images/dist/{{ filename }}-320.{{ ext }} 320w,
  {{ site.url }}/assets/images/dist/{{ filename }}-400.{{ ext }} 400w,
  {{ site.url }}/assets/images/dist/{{ filename }}-600.{{ ext }} 600w,
  {{ site.url }}/assets/images/dist/{{ filename }}-800.{{ ext }} 800w,
  {{ site.url }}/assets/images/dist/{{ filename }}-1000.{{ ext }} 1000w,
  {{ site.url }}/assets/images/dist/{{ filename }}-1400.{{ ext }} 1400w"
  alt="{{ alt }}"
>