// Breakpoints
@mixin breakpoint($point) {

  @if $point == mobile-lg {
    @media (min-width: 34em) { @content; }
  }
  @else if $point == mobile-lg-max {
    @media (max-width: 34em) { @content; }
  }

  @else if $point == tablet-sm {
    @media (min-width: 45em) { @content; }
  }
  @else if $point == tablet-sm-max {
    @media (max-width: 45em) { @content; }
  }

  @else if $point == tablet-lg {
    @media (min-width: 57em) { @content; }
  }
  @else if $point == tablet-lg-max {
    @media (max-width: 57em) { @content; }
  }

  @else if $point == desktop-sm {
    @media (min-width: 67em) { @content; }
  }

  @else if $point == desktop-sm-max {
    @media (max-width: 67em) { @content; }
  }

  @else if $point == desktop-lg {
    @media (min-width: 84em) { @content; }
  }

  @else if $point == desktop-xl {
    @media (min-width: 118em) { @content; }
  }

  @else if $point == tv-sm {
    @media (min-width: 122em) { @content; }
  }

  @else if $point == tv-lg {
    @media (min-width: 142em) { @content; }
  }
}

// Calc
@mixin calc($fallback, $fixed-width, $flexible-width: 0) {

  @if $flexible-width == 0 {
    width: $fallback;
    width: -webkit-calc(#{$fixed-width});
    width: -moz-calc(#{$fixed-width});
    width: calc(#{$fixed-width});
  }

  @else {
    width: $fallback;
    width: -webkit-calc(#{$flexible-width} - #{$fixed-width});
    width: -moz-calc(#{$flexible-width} - #{$fixed-width});
    width: calc(#{$flexible-width} - #{$fixed-width});
  }
}