* {
  box-sizing: border-box;
}

::selection { 
  background: $profile-bg;
  color: #fff;
}

html {
  color: $darkgray;
  line-height: 1.65;
  font-size: .9em;

  @include breakpoint(tablet-sm) {
    font-size: 1em;
  } 
}

body {
  background: #fff;
  font-family: $font-sans;
}

h1, h2, h3 {
  line-height: 1.3;
  font-weight: 300;
  font-family: $font-header;
}

h1 {
  font-size: $f36px;
  margin: 0;
  letter-spacing: -.015em;

  @include breakpoint(tablet-sm) {
    font-size: $f52px;
  } 

  a {
    border-bottom: 0;
  }
}

h2 {
  font-size: $f26px;
  margin-bottom: .4em;

  @include breakpoint(tablet-sm) {
    font-size: $f32px;
  } 

  a {
    border-bottom: 0;
  }

  & + p {
    margin-top: 0;
  }
}

h3 {
  font-size: $f20px;

  @include breakpoint(tablet-sm) {
    font-size: $f26px;
  } 
  margin-bottom: .3em;

  & + p {
    margin-top: 0;
  }
}

p {
  font-size: $f20px;
  margin: 1.65em 0;
  font-weight: 400;

  &.lead-text {
    @extend %lead-text;
  }
}

a,
.link {
  text-decoration: none;
  transition: all .1s ease-in-out;
  color: $profile-text;
}

img {
  vertical-align: middle;
  max-width: 100%;
}


ul {
  list-style: circle;
  margin: 1.2em auto 1.2em 1em;
  padding: 0;
  
  li {
    margin-bottom: .5em;
  }
}

iframe {
  position: absolute;
  border: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

blockquote {
  color: $midgray;
  border-left: 4px double $profile-bg;
  margin: 1.1em 0;
  padding: .7em 1em .8em;
  font-size: $f18px;

  @include breakpoint(mobile-lg) {
    margin-right: 1em;
    line-height: 1.6;
  }

  p {
    margin: 0;
    font-size: $f18px;
  }
}

code {
  background: $snow;
  color: #444;
  font-size: .85em;
  padding: .3em .5em;
  line-height: 1;
  border-radius: .1em;
  display: inline-block;
  font-family: $font-sans;
}

figure {
  @extend %clearfix;
  margin-bottom: 1em;
  
  blockquote.big {
    text-align: left;
    font-size: 2.5rem;
    line-height: 1.4;
    width: 40%;
    float: left;
    margin-top: 0;
    color: #222;
  }
}

figcaption {
  color: $lightdarkgray;
  text-align: center;
  margin: 1.5em 0 1em;
  font-style: italic;
}

.video-wrap {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  margin: 1.65em 0;
}