.btn-holder {
  text-align: center;
  margin: 1em auto;
  @include breakpoint(tablet-lg) {
    margin: 0 auto;
  } 
}

.btn {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  border: 0;
  color: #fff !important;
  background: $profile-bg;
  margin: .8em 0 0;
  padding: .8em 1.6em;
  font-size: $f16px;
  font-family: $font-header;
  border-radius: .25em;
  letter-spacing: .02em;
  transition: all .1s ease-in-out;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &.-standard {
    background: rgba(20, 153, 208, .5);
    border: 1px solid rgba(20, 153, 208, 1);

    &:hover,
    &:focus {
      background: $profile-bg;
    }

    &:active {
      transition: none;
      background-color: lighten($profile-bg, 3%);
    }
  }

  &.outline,
  .light & {
    background: #fff !important;
    color: $profile-text !important;
    border: 1px solid $profile-bg;

    &:hover,
    &:focus {
      border-color: darken($profile-bg, 10%);
      box-shadow: 0 0 1px 1px rgba(0, 0, 0, .2);
    }

    &:active {
      box-shadow: none;
    }
  }

  .light & {
    color: #444 !important;
  }
}