.book-holder {
  padding: 0 5.5vw;
  margin-bottom: 4em;

  .year {
    @extend %clearfix;
    width: 100%;
    color: $darkgray;
    margin: 2em .2em .8em 0;
    position: relative;

    &:after {
      content: '';
      height: 1px;
      background: rgba(100, 100, 100, .25);
      display: block;
      width: 100%;
      position: absolute;
      top: 52%;
    }

    &:first-of-type {
      margin-top: 0;
    }


    span {
      background: $profile-light;
      position: relative;
      z-index: 99;
      padding: 0 .4em 0 0;
    }
  }
}

.books {
  @extend %clearfix;
  display: flex;
  flex-flow: row wrap;
}

.book-item {
  // flex: 1 11.5em;
  display: block;
  float: left;
  width: 50%;
  margin: 2em 0 0;
  line-height: 1.2;
  max-width: 22em;

  @include breakpoint(tablet-sm) {
    width: 33.33%;
  }

  @include breakpoint(tablet-lg) {
    max-width: 16em;
    width: 25%;
  }

  @include breakpoint(desktop-sm) {
    width: 20%;
  }

  @include breakpoint(desktop-lg) {
    width: 16%;
  }

  @include breakpoint(120em) {
    width: 12.5%;
  }

  &:hover,
  &:focus {
    .title {
      color: $profile-text;
    }

    .meta {
      color: $darkgray;
    }

    img {
      opacity: .8;
    }
  }

  .cover {
    position: relative;
    padding-bottom: 100%;
    height: 0;
  }

  img {
    position: absolute;
    bottom: 0;
    left: 1em;
    width: 62%;
    transition: opacity .1s ease-in-out;
    -webkit-backface-visibility: hidden;
  }

  .title {
    padding: .7em 1rem 0;
    margin-top: 0;
    line-height: 1.4;
    margin-bottom: .2em;
    border-top: .5em solid rgba(130, 130, 130, .4);
    font-weight: 300;
    color: $darkgray;
    font-size: 1em;
    font-family: $font-sans;
  }

  .meta {
    margin: 0;
    line-height: 1.4;
    padding: 0 1rem;
    color: $lightdarkgray;
    font-family: $font-sans;
    font-weight: 300;
    font-size: .85em;
  }
}

@supports(display: grid) {

  .book-holder {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12.5em, 1fr));
    grid-gap: 3em 0px;

    .divider {
      grid-column: 1 / -1;
    }
  }

  .book-item {
    margin-top: 0;
    max-width: none;
  }
}
