a {
  color: $profile-text;
  text-decoration: none;
}

.main-content a,
aside .meta a {

  &:hover,
  &:focus {
    background: linear-gradient($profile-text, $profile-text) no-repeat;
    background-size: 100% 1px;
    background-position: 0 1.1em;
    text-shadow: .1em 0 #fff, -.1em 0 #fff;
  }
}

aside .meta a {
  &:hover,
  &:focus {
    text-shadow: .05em 0 $profile-light, -.05em 0 $profile-light;
  }
}
