// Lead text for articles
%lead-text {
  font-size: $f26px;
}

// Shadows on white text
%text-shadow {
  text-shadow: 0 1px 4px rgba(0, 0, 0, .2);
}

// The header style for pages
%header-style {
  padding-bottom: .2em;
  margin-bottom: .3em;
  color: $midgray;
  color: #575757;
  text-transform: uppercase;
  letter-spacing: .03em;
  position: relative;
  font-size: $f36px;
}