.sg main {
  width: 100% !important;
  margin-left: 0 !important;
}

.example {
  padding: 2.5em 2em;
  margin-top: 2em !important;
  margin-bottom: 5em !important;
  border: 1px dashed #ddd;
  position: relative;
  margin-left: -3em;
  margin-right: -3em;
}

// .example:before {
//   content: 'Example' !important;
//   position: absolute;
//   top: 0;
//   left: 0;
//   font-size: .8em;
//   background: #222;
//   color: #fff;
//   padding: .2em .7em;
//   border-bottom-right-radius: .4em;
// }

.snippet {
  margin-bottom: 2em;
  @extend %clearfix;
}

.source-panel {
  position: relative;
}

.source-panel code {
  background: transparent;
}

.colors {
  @extend %clearfix;

  li {
    list-style: none;
    float: left;
    width: 50%;
    text-align: center;
    margin-bottom: 1.5em;

    > div {
      margin: 0 auto; 
      width: 80px; 
      height: 80px; 
      border-radius: 50%;
    }
  }
}