---
layout: default
title: Books read by
active: reading
description: "Books are where I go for inspiration. These are the books I’ve read and highlighted from throughout the years."
body_class: index
---

<h1>Reading</h1>

<div class="book-holder">
  {% for post in site.categories.reading %}

    {% capture currentyear %}{{post.date | date: "%Y"}}{% endcapture %}
    {% if currentyear != year %}
      <h2 class="divider"><span>{{ post.date | date: '%Y' }}</span></h2>
    {% capture year %}{{currentyear}}{% endcapture %}
    {% endif %}

    {% include book-item.html %}
  {% endfor %}
</div>
