// Colors -------------------------------------------------- */

$profile-light: 	#accce3;
$profile-bg:      #3997d2;
$profile-text:    #3977b8;

$whitesmoke: 			#f4f4f4;
$snow: 						#eee;
$gray:            #ddd;
$lightdarkgray:   #888;
$midgray:         #444;
$darkgray:        #313131;


// Fonts -------------------------------------------------- */

$font-sans: 			  Georgia, sans-serif;
$font-sans-rale:    'ralewayregular', Georgia, sans-serif;
$font-sans-bold:    'ralewaybold', Georgia, sans-serif;
$font-header:       'ralewayextrabold', Georgia, sans-serif;


// Sizes -------------------------------------------------- */

$f52px: 2.8rem;
$f36px: 2.282rem;
$f32px: 2.023rem;
$f26px: 1.5rem;
$f20px: 1.25rem;
$f18px: 1.15rem;
$f16px: 1rem;
$f14px: .923rem;
$f12px: .773rem;