* {
  box-sizing: border-box;
}

::selection { 
  background: $profile-bg;
  color: #fff;
}

html {
  color: $darkgray;
  line-height: 1.65;
  font-size: .9em;

  @include breakpoint(tablet-sm) {
    font-size: 1em;
  }
}

body {
  font-family: $font-sans;
  overflow-x: hidden;

  @include breakpoint(desktop-sm) {
    min-height: 100vh;  
  }
}

h1, h2, h3 {
  line-height: 1.3;
  font-weight: 600;
  font-family: $font-sans;
  text-transform: uppercase;
  margin-bottom: .3em;

  a {
    border-bottom: 0;
  }

  & + p {
    margin-top: 0;
  }
}

h1 {
  font-size: $f36px;
  letter-spacing: .03em;
  margin-top: 0;
}

h2 {
  font-size: $f20px;
  letter-spacing: .03em;
  text-transform: none;
}

h3 {
  font-size: $f16px;
}

p {
  font-size: $f20px;
  margin: 1.5em 0;

  &.lead-text {
    @extend %lead-text;
  }
}

.intro {
  font-size: 1.4em;

  @include breakpoint(tablet-sm) {
    font-size: 1.6em;
  } 

  > strong:first-child {
    text-transform: uppercase;
  }

  &:first-letter {
    display: inline;
    float: left;
    padding: .25em .08em 0 0;
    line-height: .4em;
    font-size: 3.4em;
  }
}


a,
.link {
  text-decoration: none;
  transition: all .1s ease-in-out;
  color: $darkgray;

  &:active {
    position: relative;
    top: 1px;
  }
}

img {
  vertical-align: middle;
  max-width: 100%;
}

ul {
  list-style: circle;
  margin: 1.2em auto 1.2em 1em;
  padding: 0;
  
  li {
    margin-bottom: .5em;
  }
}

iframe {
  border: 0;
  width: 100%;
}

hr {
  font-size: 3em;
  line-height: 1;
  text-align: center;
  margin: 1em 0 2em;
  border: 0;

  &:after {
    font-family: sans-serif;
    content: '···';
    color: #bbb;
    letter-spacing: .6em;
    padding-left: 1em;
    height: 0;
  }
}

blockquote {
  color: $midgray;
  border-left: 4px double $profile-bg;
  margin: 1.1em 0;
  padding: .7em 1em .8em;
  font-size: $f18px;
  font-style: italic;

  @include breakpoint(mobile-lg) {
    margin-right: 1em;
  }

  p {
    margin: 0;
    //font-size: $f18px;
  }
}

code {
  background: $snow;
  color: #444;
  font-size: .85em;
  padding: .3em .5em;
  line-height: 1;
  border-radius: .1em;
  display: inline-block;
  font-family: $font-sans;
}

figure {
  @extend %clearfix;
  margin: 1.65em 0;
  
  blockquote.big {
    text-align: left;
    font-size: 2.5rem;
    line-height: 1.4;
    width: 40%;
    float: left;
    margin-top: 0;
    color: #222;
  }
}

figcaption {
  color: $lightdarkgray;
  text-align: center;
  margin: 1.5em 0 1em;
}

.video-wrap {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  margin: 1.65em 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}