.icon {
  background: no-repeat center top;
  background-size: 1.75em;
  padding-top: 2.2em;
  margin-top: 0;

  @include breakpoint(tablet-sm) {
    padding-top: 2.4em;
  } 

  &.-profile {
    background-image: url('../images/icons/profile.png');
  }

  &.-clients {
    background-image: url('../images/icons/clients.png');
  }

  &.-personal {
    background-image: url('../images/icons/personal.png');
  }

  &.-words {
    background-image: url('../images/icons/words.png');
  }

  &.-mail {
    background-image: url('../images/icons/mail.png');
  }

  &.-magnifier {
    background-image: url('../images/icons/magnifier.png');
  }
}