.wrap {
  @extend %clearfix;
  margin: 0 auto;
  max-width: 90em;
  position: relative;
  padding: 0 5%;

  &.-small {
    max-width: 64em;

    .wrap {
      padding: 0;
    }
  }

  &.-large {
    max-width: 114em;
  }

  @include breakpoint(tablet-sm) {
    padding: 0 7%;
  } 

  @include breakpoint(tablet-lg) {
    padding: 0 7.5rem;
  } 

  > *:first-child {
    margin-top: 0;
  }
}

main {
  .main-section {
    padding-top: 7%;

    @include breakpoint(tablet-lg) {
       padding-top: 8%;
    }

    @include breakpoint(desktop-sm) {
      padding-top: 7%;
    }

    @include breakpoint(desktop-lg) {
      padding-top: 6.5em;
    } 
  }

  .container {
    padding-top: 1.5em;
    padding-bottom: 1.5em;

    @include breakpoint(mobile-lg) {
      padding-top: 3em;    
      padding-bottom: 5em;
    }
  }
}

div[role=main] {
  margin-bottom: 2.5em;

  @include breakpoint(mobile-lg) {
    float: left;
    padding-right: 1em;
    width: 76%;
  } 

  @include breakpoint(tablet-lg) {  
    padding-right: 3em;
    width: 72%;
  }
}