.wrap {
  @extend %clearfix;
  margin: 0 auto;
  max-width: 90em;
  padding-left: 5%;
  padding-right: 5%;

  &.-small {
    max-width: 64em;
  }

  &.-two-col {
    @include breakpoint(tablet-lg) {
      padding-left: 7%;
      padding-right: 7%;
    }
    @include breakpoint(desktop-sm) {
      padding-left: 7.5rem;
      padding-right: 7.5rem;
    } 
  }

  @include breakpoint(tablet-sm) {
    padding-left: 7%;
    padding-right: 7%;
  } 

  @include breakpoint(tablet-lg) {
    padding-left: 7.5rem;
    padding-right: 7.5rem;
  } 

  > *:first-child {
    margin-top: 0;
  }
}

.main-section {
  padding-top: 6em;
  
  @include breakpoint(desktop-sm) {
    padding-top: 7.5em;
  } 
}

.container {
  padding-top: 1.5em;
  padding-bottom: 1.5em;

  @include breakpoint(mobile-lg) {
    padding-top: 3em;    
    padding-bottom: 5em;
  }
}

.main-content {
  margin-bottom: 2.5em;

  @include breakpoint(mobile-lg) {
    float: left;
    padding-right: 3%;
    width: 70%;

    &.-border {
      border-right: 1px solid #eee;
    }
  }
}

main {
  &.dark {
    background-color: #222;  


    .container {
      color: #fff;      
    }
  }
}