---
layout: empty
title: Daily UI challenge by
active: labs
description: ""
sitemap_include: true
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% include head/head-mobile.html %}
    {% include head/head-favicons.html %}
    {% include head/head-sharing.html %}
    {% include head/head-css.html %}
    {% include head/head-js.html %}
  </head>

  <body class="t-body--labs">

    <div style="height: 0; width: 0; position: absolute; visibility: hidden">
      {% include icons/icons.svg %}
    </div>

    <div class="lab-list">

      <div class="lab-list__header">
        <div class="lab-list__header-inner">
          <h1 class="lab-list__title">Daily UI</h1>
          <p class="lab-list__description">
            The <a href="http://www.dailyui.co/">Daily UI design challenge</a> sends an email every day presenting a new UI challenge to design. This is what I’ve made so far.
          </p>
          <a href="{{ site.url }}/" class="lab-list__back button">
            {% assign id = "arrow-left" %}
            {% include icons/icon.html %}
            Back to holmberg.io
          </a>
        </div>
      </div>

      <div class="lab-list__holder">

        {% assign dailyui = site.labs | where: "category", "dailyui" %}
        {% for lab in dailyui %}
          <div class="lab-item">
            <h2 class="lab-item__title">
              <span class="inner">
                <span class="lab-item__number">{{ lab.number }}.</span> {{ lab.title }}
              </span>
            </h2>

            <img {% if site.environment == 'production' %} src="https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?url={{ site.url }}/uploads/labs/{{ lab.image }}&amp;container=focus&amp;resize_w=600&amp;refresh=2592007.jpg"
                srcset="
                https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?url={{ site.url }}/uploads/labs/{{ lab.image }}&amp;container=focus&amp;resize_w=400&amp;refresh=2592007 400w,
                https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?url={{ site.url }}/uploads/labs/{{ lab.image }}&amp;container=focus&amp;resize_w=600&amp;refresh=2592007 600w,
                https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?url={{ site.url }}/uploads/labs/{{ lab.image }}&amp;container=focus&amp;resize_w=800&amp;refresh=2592007 800w,
                https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?url={{ site.url }}/uploads/labs/{{ lab.image }}&amp;container=focus&amp;resize_w=1000&amp;refresh=2592007 1000w,
                https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?url={{ site.url }}/uploads/labs/{{ lab.image }}&amp;container=focus&amp;resize_w=1200&amp;refresh=2592007 1200w"
              {% else %}
                src="{{ site.url }}/uploads/labs/{{ lab.image }}"
              {% endif %}
              sizes="
              (min-width: 2080px) 20vw,
              (min-width: 1470px) 25vw,
              (min-width: 912px) 38vw,
              (min-width: 528px) 50vw,
              100vw"
              alt="{{ lab.title }}"
              class="lab-item__image"
            >
          </div>
        {% endfor %}
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
