<li class="article-list__item article-item">
  <a href="{{ post.url }}" class="article-item__link">
    <h2 class="article-item__title">{{ post.title }}</h2>
    <p class="article-item__date">
      {% if post.categories contains "links" %}
        <span class="icon-holder">
          {% assign id = "link" %}
          {% include icons/icon.html %}
        </span>
      {% elsif post.categories contains "labs" %}
        <span class="icon-holder">
          {% assign id = "magic-wand" %}
          {% include icons/icon.html %}
        </span>
      {% elsif post.categories contains "photos" %}
        <span class="icon-holder">
          {% assign id = "image" %}
          {% include icons/icon.html %}
        </span>
        {% else %}
          <span class="icon-holder">
            {% assign id = "pencil2" %}
            {% include icons/icon.html %}
          </span>
      {% endif %}
      {{ post.date | date: '%b' }} {{ post.date | date: '%Y' }}
    </p>
  </a>
</li>
