<aside class="bio-card">
  <a href="{{ site.url }}/">
    {% assign image_path = "/uploads/others/johannes-square.jpg" %}
    <img
      {% if site.environment == 'production' %}
        src="https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?url={{ site.url }}{{ image_path }}&amp;container=focus&amp;resize_w=140&amp;refresh=2592000.jpg"
        srcset="
        https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?url={{ site.url }}{{ image_path }}&amp;container=focus&amp;resize_w=140&amp;refresh=2592000 140w,
        https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?url={{ site.url }}{{ image_path }}&amp;container=focus&amp;resize_w=320&amp;refresh=2592000 320w"
      {% else %}
        src="{{ site.url }}{{ image_path }}"
      {% endif %}
      sizes="
      ({{site.tablet-lg}}) 130px,
      ({{site.mobile-lg}}) 115px,
      90px"
      alt="Johannes Holmberg"
    >
    <div class="text">
      <h3 class="title">Johannes Holmberg</h3>
      <p>
        I’m a consultant front-end web designer based in Basel, Switzerland.
        I’m doing design and interaction work for the web.
        Get in touch if you would like to work together, or just say hi :)
      </p>
    </div>
  </a>
</aside>
