{% assign title = post.url | split: '/' %}
{% assign titleNew = title | last %}
{% assign cover = titleNew | replace: '-read-2', '' %}

<a href="{{ post.url }}" class="book-item">
  <div class="cover">
    <div class="container">
      <img
        src="/uploads/dist/{{ cover }}-140.jpg"
        sizes="190px"
        srcset="
        /uploads/dist/{{ cover }}-140.jpg 140w,
        /uploads/dist/{{ cover }}-240.jpg 240w"
        alt="{{post.title}}"
      >
    </div>
  </div>
  <h3 class="title">{{ post.title }}</h3>
  <p class="meta">{{ post.author }}</p>
</a>
