<aside class="sidebar sidebar__book">
  <a href="{{ page.book-url }}" class="img-holder">
    {% assign title = page.url | split: '/' %}
    {% assign titleNew = title | last %}
    {% assign cover = titleNew | replace: '-read-2', '' %}
    {% assign image_path = "/uploads/reading/" | append: cover | append: ".jpg" %}
    <img
      {% if site.environment == 'production' %}
        src="https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?url={{ site.url }}{{ image_path }}&amp;container=focus&amp;resize_w=240&amp;refresh=2592000.jpg"
        srcset="
        https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?url={{ site.url }}{{ image_path }}&amp;container=focus&amp;resize_w=240&amp;refresh=2592000 240w,
        https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?url={{ site.url }}{{ image_path }}&amp;container=focus&amp;resize_w=400&amp;refresh=2592000 400w"
      {% else %}
        src="{{ site.url }}{{ image_path }}"
      {% endif %}
      sizes="
      (min-width: 57em) 280px,
      (min-width: 34em) 160px, 140px"
      alt="{{ page.title }}"
    >
  </a>
  <ul class="meta">
    <li><strong>Author:</strong> {{ page.author }}</li>
    {% if page.published %}
      <li><strong>Published:</strong> {{ page.published }}</li>
    {% endif %}
    <li><strong>Publisher:</strong> {{ page.publisher }}</li>
    <li><strong>Buy:</strong> <a href="{{ page.book-url }}">Amazon</a></li>
    <li>
      <strong>Format:</strong>
      {% if page.format == "" or page.format == nil %}
        Kindle
      {% else %}
        {{ page.format }}
      {% endif %}
    </li>
  </ul>
</aside>
