{% assign title = page.url | split: '/' %}
{% assign titleNew = title | last %}
{% assign data = titleNew | replace: '-read-2', '' %}

<section class="c-book-highlights">
  <h4 class="c-book-highlights__title">My personal highlights from the book</h4>

  {% for highlight in site.data.books.[data] %}
     {% if highlight.loc %}
       {% assign location = "loc" %}
     {% elsif highlight.page %}
       {% assign location = "page" %}
     {% endif %}

    <blockquote id="highlight{{ forloop.index }}" class="c-book-highlight">
      {{ highlight.quote | markdownify }}

      <a href="#highlight{{ forloop.index }}" class="c-book-highlight__meta">
        <span class="icon-holder">
          {% assign id = "link" %}
          {% include icons/icon.html %}
        </span>
        {% if highlight.loc %}
          loc. {{ highlight.loc }}
        {% elsif highlight.page %}
          Page {{ highlight.page }}
        {% endif %}
      </a>
    </blockquote>
  {% endfor %}
</section>
