<a href="{{ post.url }}" class="case-item">
  <img
    src="https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?url={{ site.url }}/uploads/content/work/{{post.cover}}-cover.jpg&container=focus&resize_w=600&refresh=2592000"
    sizes="
    (min-width: 1687px) 33vw,
    (min-width: 1020px) 50vw,
    100vw"
    srcset="
    https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?url={{ site.url }}/uploads/content/work/{{post.cover}}-cover.jpg&container=focus&resize_w=320&refresh=2592000 320w,
    https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?url={{ site.url }}/uploads/content/work/{{post.cover}}-cover.jpg&container=focus&resize_w=600&refresh=2592000 600w,
    https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?url={{ site.url }}/uploads/content/work/{{post.cover}}-cover.jpg&container=focus&resize_w=800&refresh=2592000 800w,
    https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?url={{ site.url }}/uploads/content/work/{{post.cover}}-cover.jpg&container=focus&resize_w=1000&refresh=2592000 1000w,
    https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?url={{ site.url }}/uploads/content/work/{{post.cover}}-cover.jpg&container=focus&resize_w=1400&refresh=2592000 1400w,
    https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?url={{ site.url }}/uploads/content/work/{{post.cover}}-cover.jpg&container=focus&resize_w=2000&refresh=2592000 2000w"
    alt="{{post.title}}"
  >
  <div class="text-wrap">
    <span class="show">
      {% assign id = "search" %}
      {% include icon.html %}
    </span>
    <div class="text">
      <p class="slogan">
        {{ post.subtitle }}
      </p>
      <h2 class="title">{{ post.title }}</h2>
      <p class="meta">
        {% if post.meta == 'date' %}
          {% assign d = post.date | date: "%-d" %}
          {% case d %}
            {% when '1' or '21' or '31' %}
              {% capture day %}{{ d }}st, {% endcapture %}
            {% when '2' or '22' %}
              {% capture day %}{{ d }}nd, {% endcapture %}
            {% when '3' or '23' %}
              {% capture day %}{{ d }}rd, {% endcapture %}
            {% else %}
              {% capture day %}{{ d }}th, {% endcapture %}
          {% endcase %}
          {% capture fulldate %}
            {{ post.date | date: '%B' }} {{ day }} {{ post.date | date: '%Y' }}
          {% endcapture %}
          <span>{{ fulldate }}</span>
        {% else %}
          <span>{{ post.meta }}</span>
        {% endif %}
      </p>
    </div>
  </div>
</a>
