<footer class="c-site-footer">
  <ul class="c-site-footer__list">
    <li class="c-site-footer__item">
      Copyright &copy; 2007—2016
    </li>
    <li class="c-site-footer__item">
      You can subscribe to the content on this site through the <a href="{{ site.url }}/feed.xml" class="c-site-footer__link">RSS feed</a>.
    </li>
    <li class="c-site-footer__item">
      Interested in how this site is made? <a href="{{ site.url }}/colophon/" class="c-site-footer__link">Check this out</a>.
    </li>
  </ul>
</footer>
