{% capture title %}{% if page.title %}{{ page.title }}{% endif %}{% if page.url contains 'notebook/links' and page.title != 'The Notebook of' %}, a link saved by {% elsif page.url contains 'notebook/' and page.title != 'The Notebook of' %}, From the Notebook of {% endif %}{% if page.url contains 'reading/' and page.title != 'Books read by' %}, a book read by {% endif %} {{ site.author }}{% endcapture %}

<title>{{ title }}</title>

{% if page.description %}
  <meta name="description" content="{{ page.description }}" />
{% endif %}

{% if page.cover %}
  <meta property="og:image" content="{{ site.url }}/uploads/dist/{{page.cover}}-400.jpg" />
{% endif %}
