<nav class="c-nav-primary">
  <a href="/" class="c-nav-primary__brand">
    {% assign id = "logo" %}
    {% include icons/icon.html %}
  </a>
  <ul class="c-nav-primary__list">
    {% for nav in site.data.navigation %}
      <li class="c-nav-primary__item">
        <a href="{{ site.url }}{{ nav.url }}"
        class="c-nav-primary__link {% if page.active == nav.active or page.categories[0] == nav.active %} c-nav-primary__link--active {% endif %}">
          {{ nav.text }}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
