<aside class="post-navigation">

  {% for post in site.categories.[cat] %}
    {% if post.url == page.url %}
      {% assign post_index0 = forloop.index0 %}
      {% assign post_index1 = forloop.index %}
    {% endif %}
  {% endfor %}
  {% for post in site.categories.[cat] %}
    {% if post_index0 == forloop.index %}
      {% assign next_post = post.url %}
      {% assign next_title = post.title %}
      {% assign next_cat = post.categories %}
      {% assign next_date = post.date | date: "%B %d, %Y" %}
    {% endif %}
    {% if post_index1 == forloop.index0 %}
      {% assign prev_post = post.url %}
      {% assign prev_title = post.title %}
      {% assign prev_cat = post.categories %}
      {% assign prev_date = post.date | date: "%B %d, %Y" %}
    {% endif %}
  {% endfor %}

  {% if prev_post %}
    <a href="{{ prev_post }}" class="post-navigation__item post-navigation__item--prev">
      <span class="post-navigation__icon-holder">
        {% assign id = "arrow-left" %}
        {% include icons/icon.html %}
      </span>
      {{ prev_title }}
      <span class="post-navigation__date">
        {% assign thedate = prev_date %}
        {% include nice-date.html %}
        {% for cat in prev_cat %}
          &middot;
         {{ cat | capitalize }}
        {% endfor %}
      </span>
    </a>
  {% endif %}

  {% if next_post %}
    <a href="{{ next_post }}" class="post-navigation__item post-navigation__item--next">
      <span class="post-navigation__icon-holder">
        {% assign id = "arrow-right" %}
        {% include icons/icon.html %}
      </span>
      {{ next_title }}
      <span class="post-navigation__date">
        {% assign thedate = next_date %}
        {% include nice-date.html %}
        {% for cat in next_cat %}
          &middot;
         {{ cat | capitalize }}
        {% endfor %}
      </span>
    </a>
  {% endif %}

</aside>
