{% if ext == "" or ext == nil %}
  {% assign ext = "jpg" %}
{% endif %}

<figure {% if margins %} class="margins{% if portrait %} portrait {% endif %}" {% endif %}>
<img src="{{ site.url }}/uploads/dist/{{ filename }}-600.{{ ext }}"
  sizes="
  (min-width: 992px) 70vw,
  100vw"
  srcset="
  {{ site.url }}/uploads/dist/{{ filename }}-320.{{ ext }} 320w,
  {{ site.url }}/uploads/dist/{{ filename }}-400.{{ ext }} 400w,
  {{ site.url }}/uploads/dist/{{ filename }}-600.{{ ext }} 600w,
  {{ site.url }}/uploads/dist/{{ filename }}-800.{{ ext }} 800w,
  {{ site.url }}/uploads/dist/{{ filename }}-1000.{{ ext }} 1000w,
  {{ site.url }}/uploads/dist/{{ filename }}-1400.{{ ext }} 1400w,
  {{ site.url }}/uploads/dist/{{ filename }}-2000.{{ ext }} 2000w"
  alt="{{ alt }}">
  {% if caption %}
    <figcaption>{{ caption }}</figcaption>
  {% endif %}
</figure>
