---
layout: default
title: Writing
active: writing
description: "Writing by Johannes Holmberg."
redirect_from: journal/
mode: dark
top-bg: "#bca899"
top-subtitle: "Collection of thoughts and reflection over the years."
---

<div class="container wrap -small">

  {% for post in site.posts %}
    {% if post.category == "article" or post.category == "journal" or post.category == "writing" %}

      {% capture currentyear %}{{post.date | date: "%B"}}{% endcapture %}
      {% if currentyear != year %}
        <h2 class="divider -left -light"><span>{{ post.date | date: '%B, %Y' }}</span></h2>
      {% capture year %}{{currentyear}}{% endcapture %} 
      {% endif %}

      <div class="article-item">
        <h2 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <p class="date">
          {{ post.date | date: '%B' }}
          {% assign d = post.date | date: "%-d" %} 
          {% case d %}
            {% when '1' or '21' or '31' %}{{ d }}st,
            {% when '2' or '22' %}{{ d }}nd,
            {% when '3' or '23' %}{{ d }}rd,
            {% else %}{{ d }}th,
            {% endcase %}
            {{ post.date | date: '%Y' }}
        </p>
        <p class="summary">{{ post.content | strip_html | truncatewords: 50 }}<a href="{{ post.url }}"> Read more &raquo;</a></p>
      </div>
      
    {% endif %}
  {% endfor %}



</div>