---
layout: default
title: Links
active: links
description: "Links from Johannes Holmberg."
---

<section class="main-section">

  <header class="page-header">
    <div class="wrap -small">
      <h1 class="title">Links</h1>
      <p class="meta">Things on the internet that reinforces what I believe in.</p>
    </div>
  </header>

  <div class="container">
    <div class="wrap -small">

      <ul>
      {% for link in site.data.links %}

        <li class="content-card">

          {% capture currentyear %}{{link.date | date: "%A, %B %-d, %Y"}}{% endcapture %}
          {% if currentyear != year %}
            <h3 class="date">{{ link.date | date: '%B %-d, %Y' }}</h3>
          {% capture year %}{{currentyear}}{% endcapture %} 
          {% endif %}
          
          <a href="{{ link.link }}" title="{{ link.link }}" class="title">
            {{ link.title }}
          </a>

          <blockquote class="quote">{{ link.desc }}</blockquote>

          {% if link.footnote %}
            <p class="footnote">{{ link.footnote }}</p>
          {% endif %}

          {% if link.video %}
          <div class="video-wrap">
            <iframe src="{{ link.video }}" allowfullscreen></iframe>
          </div>
          {% endif %}

        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
</section>