---
layout: default
title: Links
active: links
description: "Links from Johannes Holmberg."
---

{% assign title = "Links" %}
{% assign width = "-small" %}
{% assign attribute = "-left-align -without-border" %}
{% assign subtitle = "Things on the internet that reinforces what I believe in." %}
{% include page-header.html %}

<div class="container">
  <div class="wrap -small">

    {% for post in site.categories.link %}

      <div class="article-item">

        <h2 class="title">
          <a href="{{ post.link }}" title="{{ post.link }}">{{ post.title }}</a>
        </h2>
        <p class="date">
          {{ post.date | date: '%B' }}
          {% assign d = post.date | date: "%-d" %} 
          {% case d %}
            {% when '1' or '21' or '31' %}{{ d }}st,
            {% when '2' or '22' %}{{ d }}nd,
            {% when '3' or '23' %}{{ d }}rd,
            {% else %}{{ d }}th,
            {% endcase %}
            {{ post.date | date: '%Y' }}
        </p>
        {{ post.content }}
      </div>

    {% endfor %}

  </div>
</div>