---
layout: default
title: Links
active: links
description: "Links from Johannes Holmberg."
---

<section class="main-section">

  <header class="page-header">
    <div class="wrap -small">
      <h1 class="title">Links</h1>
      <p class="meta">Things on the internet that reinforces what I believe in.</p>
    </div>
  </header>

  <div class="container">
    <div class="wrap -small">

      <ul class="links">
        {% for post in site.posts %}
          {% if post.category == "link" %}

        <li class="content-card">

          {% capture currentyear %}{{post.date | date: "%A, %B %-d, %Y"}}{% endcapture %}
          {% if currentyear != year %}
            <h3 class="date">{{ post.date | date: '%B %-d, %Y' }}</h3>
          {% capture year %}{{currentyear}}{% endcapture %} 
          {% endif %}
          
          <a href="{{ post.link }}" title="{{ post.link }}" class="title">{{ post.title }}</a>
          <span class="url"><a href="{{ post.link }}">&raquo;{{ post.link }}</a></span>
          {{ post.content }}

        </li>
        {% endif %}
      {% endfor %}
      </ul>
    </div>
  </div>
</section>