.article-item {
  margin: 0;
  display: block;
  list-style: none;
  position: relative;

  &__link {
    @extend %clearfix;
    display: block;
    padding: 1.1em .5em .9em;
    border-top: 1px solid #ddd;
    color: #444;

    &:hover,
    &:focus {
      color: $profile-text;
      border-bottom: 0;
    }
  }

  &__title {
    margin: 0;
    font-family: $font-sans;
    font-weight: 400;
    text-transform: none;
    font-size: 1em;
    float: left;
    width: 70%;
    padding-right: 1em;
  }

  &__date {
    margin: 0;
    font-size: $f14px;
    color: #888;
    float: right;
    font-family: $font-sans;
  }

  .icon-holder {
    margin-right: .5em;
  }
}
