.button-wrap {
  text-align: center;
  margin: 1em auto;

  @include breakpoint(tablet-lg) {
    margin: 0 auto;
  }
}

.button {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  border: 0;
  color: #fff;
  background: $base-brand-color;
  margin: .8em 0 0;
  padding: .8em 1.6em;
  border-radius: .25em;
  letter-spacing: .02em;
  transition: all .1s ease-in-out;

  &:hover,
  &:focus {
    text-decoration: none;
    background: darken($base-brand-color, 5%);
  }

  &:active {
    transition: none;
    background-color: lighten($base-brand-color, 3%);
  }


  &--outline {
    background: none;
    color: $complementary-brand-color;
    border: 2px solid $complementary-brand-color;

    &:hover,
    &:focus {
      background: $complementary-brand-color;
      color: #fff;
    }

    &:active {
      background: $complementary-brand-color;
    }
  }

  .icon {
    width: 1em;
    height: 1em;
    vertical-align: -2px;
    margin-right: .25em;
  }

}
