.post-navigation {
  flex: 1 1 15em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__item {
    flex: 1 0 14em;
    background: #fff;
    transition: all .2s ease-in-out;
    font-size: 1.3em;
    color: $base-text-color;
    padding: 1.2em 1.5em;
    display: block;
    margin-bottom: 1em;
    border-left-style: solid;
    border-color: $gray-border1;
    border-left-width: 5px;
    line-height: 1.45;

    &:hover,
    &:focus {
      border-color: $base-link-color;
      border-bottom: 0;
      color: $base-link-color;
    }

    &--next {
      border-left: 0;
      border-right-style: solid;
      border-right-width: 5px;
      text-align: right;
    }
  }

  &__date {
    display: block;
    color: $gray2;
    font-size: .75em;
    padding-top: .5em;
  }

  &__icon-holder {
    font-size: 2.5em;
    display: block;
    margin: -.2em 0 .2em;
    color: $base-link-color;
  }
}
