.site-header {
  width: 100%;
  position: relative;
  z-index: 2000;
  background: #fff;
  font-size: .8em;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);

  @include breakpoint(tablet-sm) {
    font-size: 1em;
  }
}
