.author-card {
  color: #fff;
  position: relative;
  max-width: 36em;
  flex: 1 1 20em;

  > a {
    background: $dark;
    display: block;
    padding: 1.5em 2.2em 2em;
    color: #fff;
    transition: all .2s ease-in-out;

    &:hover,
    &:focus {
      background: $profile-text;
    }
  }

  &__image {
    background-color: #fff;
    border-radius: 100%;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: -1em;
    left: -1em;
    max-width: 4.5em;
    border: 1px solid #2a3137;
  }

  &__title {
    margin: 0 0 1em 2.2em;
  }

  &__description {
    font-size: 1em;
    font-family: $font-serif-italic;
    font-style: italic;

    &:last-of-type {
      margin-bottom: 0;
    }

    a {
      color: #fff;
      background: linear-gradient(#fff, #fff) no-repeat;
      background-size: 100% 1px;
      background-position: 0 1.15em;
      text-shadow: .05em 0 #2a3137, -.05em 0 #2a3137;
    }
  }
}
