figure {
  margin: 1.5em auto;

  &.center {
    text-align: center;
  }

  &.portrait {
    img {
      max-height: 40em;
    }
  }
}

figcaption {
  color: $lightdarkgray;
  margin: 1.5em 0;
  font-family: $font-serif-italic;
  font-style: italic;
}
