a {
  color: $profile-text;
  text-decoration: none;
}

a::-moz-selection {
  text-shadow: none;
}
a::selection {
  text-shadow: none;
}

.main-content a,
aside ul a {
  background-image: linear-gradient(currentColor, currentColor);
  background-repeat: no-repeat;
  background-size: 100% 1px;
  background-position: center bottom 7%;
  text-shadow:
      3px 0 #fff,
      2px 0 #fff,
      1px 0 #fff,
     -1px 0 #fff,
     -2px 0 #fff,
     -3px 0 #fff;

  &:hover,
  &:focus {
    color: #1f293e;
    background-image: linear-gradient(currentColor, currentColor);
  }
}

aside ul a {
  text-shadow: .05em 0 $profile-light, -.05em 0 $profile-light;
}
