::selection {
  background: $profile-text;
  color: #fff;
}

::-moz-selection {
  background: $profile-text;
  color: #fff;
}

html {
  line-height: 1.65;
  font-size: .85em;

  @include breakpoint(mobile-xl) {
    font-size: .85em;
  }

  @include breakpoint(tablet-sm) {
    font-size: .9em;
  }

  @include breakpoint(tablet-lg) {
    font-size: 1em;
  }

  @include breakpoint(desktop-xl) {
    font-size: 1.1em;
  }
}

body {
  font-family: $font-serif;
}

b,
strong {
  font-family: $font-serif-bold;
}

em {
  font-family: $font-serif-italic;
}

h1,
h2,
h3,
h4 {
  line-height: 1.3;
  font-family: $font-serif-bold;
  font-weight: 600;
  margin: 1.5em 0 .3em;

  & + p {
    margin-top: 0;
  }
}

h1 {
  font-size: 2.4em;
  margin-top: 0;

  @include breakpoint(tablet-sm) {
    font-size: 3.2em;
  }
}

h2 {
  letter-spacing: .02em;
}

p {
  font-size: 1.25em;
  margin: 1.5em 0;
}

hr {
  line-height: 1;
  margin: .9em 0 1.5em;
  font-size: 3em;
  border: 0;

  &:after {
    font-family: sans-serif;
    content: '\00b7\00b7\00b7';
    color: #bbb;
    letter-spacing: .5em;
  }
}

code {
  background: lighten($profile-text, 48%);
  color: $profile-text;
  font-size: .85em;
  padding: .2em .3em;
  border-radius: .15em;
  font-family: $font-code;
  font-size: 90%;
}

figure {
  margin: 1.5em auto;

  &.center {
    text-align: center;
  }

  &.portrait {
    img {
      max-height: 40em;
    }
  }
}

figcaption {
  color: $lightdarkgray;
  margin: 1.5em 0;
  font-family: $font-serif-italic;
  font-style: italic;
}

.post .main-content {
  ul,
  ol {
    margin-left: 1.5em;
    font-size: 1.25em;

    p {
      font-style: normal;
      font-size: 1em;
    }
  }

  ol {
    font-family: $font-serif-italic;
    font-style: italic;
  }

  blockquote {
    color: $midgray;
    border-left: .5em solid #ddd;
    margin: 1.5em 0;
    font-family: $font-serif-italic;
    font-style: italic;
    position: relative;
    color: #000;
    font-size: 1.05em;

    @include breakpoint(mobile-xl) {
      border-width: .25em;
    }

    em,
    cite,
    .meta {
      font-family: $font-serif;
      font-style: normal;
    }

    p {
      &:first-of-type {
        margin-top: 0;
      }
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

.has-intro .main-content > p:first-of-type,
.intro {
  font-size: 1.4em;

  @include breakpoint(tablet-sm) {
    font-size: 1.5em;
  }

  > strong:first-child {
    font-weight: 300;
  }

  &:first-letter {
    display: inline;
    font-family: $font-serif-bold;
    font-weight: 700;
    float: left;
    padding: .15em .08em 0 0;
    line-height: .65em;
    font-size: 3.4em;
  }
}
