main {
  @extend %clearfix;
  position: relative;
  padding-top: 2.5em;

  @include supportsFlex() {
    display: flex;
    flex-wrap: wrap;
  }

  > h1 {
    padding: 0 5.5vw;
    margin: 0 0 1.8rem 0;
  }
}

.start {
  main {
    padding-top: 0;
  }
}

.post {

  main {
    padding-top: 0;
  }

  article {
    width: 100%;

    @include supportsFlex() {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
    }
  }

  .main-content {
    background: #fff;
    max-width: 68em;
    padding: 0 0 3em; /* Default for browsers not understanding viewport units */
    padding: 3vw 0 6em;
    background-clip: padding-box;
    margin-bottom: -3%;
    flex: 4 1 40em;
    box-shadow: 0 0 2px rgba(0, 0, 0, .1);
    float: left;

    > *,
    > figure.margins {
      padding: 0 3em; /* Default for browsers not understanding viewport units */
      padding-left: 5.5vw;
      padding-right: 5.5vw;

      figcaption {
        padding: 0;
      }
    }

    > figure,
    > iframe,
    > div {
      padding: 0;

      figcaption {
        padding-left: 5.5vw;
        padding-right: 5.5vw;
      }
    }

    > blockquote {
      padding: .8em 7vw .8em 1.8em;

      @include breakpoint(mobile-xl) {
        margin-left: calc(5.5vw - .3em);
      }
    }

    > figure:first-child {
      margin-top: -3vw;
    }
  }
}

.book {

  .main-content {

    > p {
      max-width: 44em;
    }

    blockquote {
      border-left-color: #ddd;
      max-width: 52em;
      padding-right: 6vw;

      p {
        margin: 1em 0;
      }

      > p:last-of-type {
        margin-bottom: .4em;
      }

      .meta {
        margin: .2em 0 .3em;
        background: #fff;
        display: inline-block;
        color: $lightdarkgray;

        .icon-holder {
          margin-right: .4em;
          vertical-align: 1px;
        }

        &:hover,
        &:focus {
          color: $profile-text;
        }
      }
    }

    :target {
      border-left-color: $profile-text;
    }
  }
}

@supports(display: grid) {

  .book {
    @include breakpoint(tablet-lg) {
      article {
        display: grid;
        grid-template-columns: 2fr 1fr;
        max-width: none;
      }

      .page-header {
        width: auto;
        grid-column: 1 / -1;
        order: 1;
      }

      .main-content {
        grid-row: 2 / 5;
        order: 3;
      }

      .sidebar {
        order: 4;
      }

      .sidebar__book {
        float: none;
        width: auto;
        order: 2;
      }
    }

    @include breakpoint(desktop-xl) {
      article {
        grid-template-columns: 2fr 1fr 1fr;
      }
    }
  }
}

.list {
  background: #fff;
  width: 100%;
  padding: 4em 5%;
  max-width: 70em;
  flex: 1 1 40em;
}
