.body {
  &--start {
    main {
      @include supportsFlex() {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }

  &--post {
    .main-article {
      @include supportsFlex() {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
      }

      &--intro .main-content > p:first-of-type,
      .intro {
        font-size: 1.4em;

        @include breakpoint(tablet-sm) {
          font-size: 1.5em;
        }

        > strong:first-child {
          font-weight: 300;
        }

        &:first-letter {
          display: inline;
          font-family: $font-serif-bold;
          font-weight: 700;
          float: left;
          padding: .15em .08em 0 0;
          line-height: .65em;
          font-size: 3.4em;
        }
      }
    }

    .main-content {
      background: #fff;
      max-width: 68em;
      padding: 0 0 3em; /* Default for browsers not understanding viewport units */
      padding: 3vw 0 6em;
      background-clip: padding-box;
      margin-bottom: -3%;
      flex: 4 1 40em;
      box-shadow: 0 0 2px rgba(0, 0, 0, .1);
      float: left;

      > *,
      > .figure--margins {
        padding: 0 3em; /* Default for browsers not understanding viewport units */
        padding-left: 5.5vw;
        padding-right: 5.5vw;

        figcaption {
          padding: 0;
        }
      }

      > figure,
      > iframe,
      > div {
        padding: 0;

        figcaption {
          padding-left: 5.5vw;
          padding-right: 5.5vw;
        }
      }

      > blockquote {
        padding: .8em 7vw .8em 1.8em;

        @include breakpoint(mobile-xl) {
          margin-left: calc(5.5vw - .3em);
        }
      }

      > figure:first-child {
        margin-top: -3vw;
      }
    }
  }

  &--book {
    .main-content {
      > p {
        max-width: 45em;
      }

      h4 {
        font-size: 1.15em;

        &:after {
          margin: .3em 0 .5em;
          font-size: 3em;
          display: block;
          font-family: sans-serif;
          content: '\00b7\00b7\00b7';
          color: $gray-opacity1;
          letter-spacing: .5em;
        }
      }

      .book-cover {
        padding: 0;
      }

      blockquote {
        max-width: 52em;
        padding-right: 6vw;

        p {
          margin: 1em 0;
        }

        > p:last-of-type {
          margin-bottom: .4em;
        }

        .meta {
          margin: .2em 0 .3em;
          background: none;
          display: inline-block;
          color: $gray2;
          font-size: .9em;
          font-family: $font-serif-italic;

          .icon-holder {
            margin-right: .3em;
            vertical-align: 1px;

            .icon {
              width: .95em;
              height: .95em;
            }
          }

          &:hover,
          &:focus {
            color: $base-link-color;
          }
        }
      }

      :target {
        border-left-color: $base-link-color;
      }
    }
  }

  &--labs {

    $labs: #30b6be;

    a {
      color: $labs;

      &:hover,
      &:focus {
        color: darken($labs, 10%);
      }
    }

    .button {
      background: $labs;
      color: #fff;

      &:hover,
      &:focus {
        background: darken($labs, 5%);
        color: #fff;
      }
    }
  }

  &--index {
    main {
      @extend %clearfix;
      position: relative;
      padding-top: 2.5em;

      > h1 {
        padding: 0 5.5vw;
        margin: 0 0 1.8rem 0;
      }
    }
  }
}

@supports(display: grid) {
  .body {
    &--book {
      @include breakpoint(tablet-lg) {
        article {
          display: grid;
          grid-template-columns: 2fr 1fr;
          max-width: none;
        }

        .page-header {
          width: auto;
          grid-column: 1 / -1;
          order: 1;
        }

        .main-content {
          grid-row: 2 / 5;
          order: 3;
        }

        .sidebar {
          order: 4;
        }

        .sidebar__book {
          float: none;
          width: auto;
          order: 2;
        }
      }

      @include breakpoint(desktop-xl) {
        article {
          grid-template-columns: 2fr 1fr 1fr;
        }
      }
    }
  }
}
