table {
  width: 100%;
  min-width: 700px;
  font-size: $f18px;

  table-layout: fixed;


  th,
  td {
    padding: .35em .5em;
    line-height: 1.4;
    border-right: 1px solid #ddd;

    &:last-child {
      border-right: 0;
    }
  }

  th {
    text-align: left;
    font-size: $f18px;
    font-weight: 400;
    vertical-align: bottom;
    background: #2a3137;
    color: #fff;
  }

  td {
    vertical-align: top;
  }

  tr {
    td {
      border-bottom: 1px solid #ddd;
    }
  }
}
