a {
  color: $profile-text;
  text-decoration: none;
}

a::-moz-selection {
  text-shadow: none;
}
a::selection {
  text-shadow: none;
}

.main-content a,
aside .meta a {

  &:hover,
  &:focus {
    background: linear-gradient(currentColor, currentColor) no-repeat;
    background-size: 100% 2px;
    background-position: center bottom 8%;
    text-shadow:
        3px 0 #fff,
        2px 0 #fff,
        1px 0 #fff,
       -1px 0 #fff,
       -2px 0 #fff,
       -3px 0 #fff;
  }
}

aside .meta a {
  &:hover,
  &:focus {
    text-shadow: .05em 0 $profile-light, -.05em 0 $profile-light;
  }
}
