// Colors -------------------------------------------------- */

$profile-bg:      #3997d2;
$profile-text:    #3977b8;

$dark:            #2a3137;

$profile-light:   #edf1f4;

$whitesmoke: 			#f4f4f4;
$snow: 						#eee;
$gray:            #ddd;
$lightdarkgray:   #888;
$midgray:         #444;
$darkgray:        #313131;
