// Fonts -------------------------------------------------- */

$font-serif:          'merriweatherregular', Georgia, serif;
$font-serif-bold:     'merriweatherblack', Georgia, serif;
$font-serif-italic:   'merriweatheritalic', Georgia, serif;
$font-sans:           'open_sansregular', sans-serif;
$font-code:           Menlo, monospace;


// Sizes -------------------------------------------------- */

$f52px: 2.8rem;
$f36px: 2.282rem;
$f32px: 2.023rem;
$f26px: 1.5rem;
$f20px: 1.25rem;
$f18px: 1.15rem;
$f16px: 1rem;
$f14px: .923rem;
$f12px: .773rem;
