// Fonts -------------------------------------------------- */

$font-serif:          'merriweatherregular', Georgia, serif;
$font-serif-bold:     'merriweatherblack', Georgia, serif;
$font-serif-italic:   'merriweatheritalic', Georgia, serif;
$font-sans:           'open_sansregular', sans-serif;
$font-code:           Menlo, monospace;
