// Colors -------------------------------------------------- */

$base-text-color:            #333333;
$base-link-color:            #3977b8;

$base-brand-color:           #3997d2;
$light-brand-color:          #edf1f4;
$complementary-brand-color:  #2a3137;

$gray1:                      #444444;
$gray2:                      #595959;

$gray-border1:               #dddddd;
$gray-opacity1:              rgba(134, 152, 158, .6);
