---
layout: page
title: "The website of front-end web designer"
active: index
body_class: start
description: "Johannes Holmberg is a front-end web designer in Basel, Switzerland."
redirect_from:
  - /about/
---

<section class="start-section">
  <div class="profile">

    {% assign image_path = "/uploads/others/johannes-square.jpg" %}
    {% if site.environment == 'production' %}
      <img src="https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?url={{ site.url }}{{ image_path }}&amp;container=focus&amp;resize_w=340&amp;refresh=2592000.jpg"  alt="Johannes Holmberg">
    {% else %}
      <img src="{{ site.url }}{{ image_path }}" alt="Johannes Holmberg">
    {% endif %}


    <div class="text">
      <h1 class="title">Hi, I’m Johannes.</h1>
      <p class="meta">Consultant front-end web designer.</p>
    </div>

    <div class="social">
      <h2 class="title">You can stalk me on the following networks</h2>
      <ul>
        {% for link in site.data.links %}
          <li>
            <a href="{{ link.url }}">
              <span>
                {% assign id = link.icon %}
                {% include icon.html %}
              </span>
              {{ link.site }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="main-content">
    <div class="inner">
      <h2>A little bit on me</h2>
      <p>
        I’m Johannes Holmberg and I work on the web.
        I’m a consultant font-end web designer living and working out of beautiful <a href="#">Basel, Switzerland</a>.
      </p>
      <p>
        I’ve been working on the web for the last 9 years, designing and developing usable online solutions. What I do is making design and technology work together on the web.
      </p>
      <p>
        My services include interaction design, information architecture and front-end development. I work together with teams from companies all over the world to provide responsive and optimized user interfaces.
      </p>
      <p>
        You can contact me by email at <a href="mailto:johannes@holmberg.io">johannes@holmberg.io</a>.
      </p>
    </div>
  </div>
</section>
